{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Расписание "{{ schedule.name }}" - YourTar.ru</title>
{% endblock %}

{% block content %}
    <div>
        <h1>
            <a href="{{ path('schedule') }}"><button class="back_btn" title="Назад"></button></a>
            <img src="/img/design/calend-orange-min.png" class="headImg"> Расписание "{{ schedule.name }}":
        </h1>
        <div class="buttonsBlock">
            <button class="btn btn-default print" data="content"></button>
            <button data-path="{{ path('addEmployment', {id: schedule.id}) }}" data-type="employment"
                        class='add' title="Добавить"></button>
        </div>
        <div class="list">
            <div class="schedule">
                {% for key,day in days %}
                    <div class="dayInSchedule">
                        <div class="header">
                            <p>{{ day }}</p>
                        </div>
                        <div>
                            {% if employments[key]|length > 0 %}
                                {% for employment in employments[key] %}
                                    <div class="object">
                                        <div class="objectTime">
                                            <p>{{ employment.start.format('H:i') }}-{{ employment.end.format('H:i') }}</p>
                                        </div>
                                        <div class="objectContent"><p>{{ employment.name }}</p></div>
                                        <div class="buttonsBlock">
                                            <button data-path="{{ path('editEmployment', {'id': employment.id}) }}"
                                                    data-type="employment" class="edit" title="Редактировать"></button>
                                            <button data="{{ path('delEmployment', {'id': employment.id}) }}" class='delete'
                                                    title="Удалить"></button>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>На этот день занятий пока нет!</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



