{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Партнёры - YourTar.ru</title>
{% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-sm-12 listHeader">
                <h3>Наши партнёры:</h3>
            </div>
        </div>
        <div>
        {% if list|length > 0 %}
            {% for partner in list %}
                <div class="objectOwner left">
                    <p>{{ partner.title }}:</p>
                </div>
                <div class="object notHover">
                    <div class="objectContent">
                        <p>
                            {% if partner.imageName != null %}
                                <img src="{{ vich_uploader_asset(partner, 'imageFile') }}" alt="Картинка для {{ partner.title }}" class="imageLeft">
                            {% endif %}
                            {{ partner.description }}
                        </p>
                        <p>Больше информации по ссылке: <a href="{{ partner.link }}" target="_blank">{{ partner.link }}</a></p>
                    </div>
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p>У нас ещё нет партнёров.</p>
        {% endif %}
        </div>
    </div>
{% endblock %}