{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Партнёрство - YourTar.ru</title>
{% endblock %}

{% block content %}
    <div>
        {% if partner != null %}
            <div>
                <ul class="nav nav-tabs">
                  <li role="presentation" class="active"><a href="{{ path('partner') }}">Профиль</a></li>
                  <li role="presentation"><a href="{{ path('partnerArticles') }}">Статьи</a></li>
                </ul>
            </div>
            <div class="object notHover">
                <div class="objectContent partner">
                    <h3>
                        {{ partner.title }}
                    </h3>
                    <br>
                    <p>
                        {% if partner.imageName != null %}
                            <img src="{{ vich_uploader_asset(partner, 'imageFile') }}" alt="{{ partner.title }}">
                        {% endif %}
                        {{ partner.description | raw }}
                    </p>
                </div>
                <div class="buttonsBlock">
                        <button data-path="{{ path('editPartner', {'id': partner.id}) }}" data-type="partner" class="edit" title="Редактировать"></button>
                        <button data="{{ path('delPartner', {'id': partner.id}) }}" class='delete' title="Удалить"></button>
                    </div>
            </div>
        {% else %}
            <div class="object notHover">
                <div class="objectContent">
                    <h3>
                        Добро пожаловать в партнёрскую программу YourTar.ru!
                    </h3>
                    <br>
                    <p> Настроить профиль: <button data-path="{{ path('addPartner') }}" data-type="partner" class='add' title="Настроить профиль"></button></p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}