{% extends "::layout/main.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block metaBlock %}
    <title>Авторизация - YourTar.ru</title>
    <meta name="description" content="Зайти в личный кабинет на YourTar.ru">
    <meta name="keywords" content="логин, авторизация, yourtar.ru, yourtar">
{% endblock %}

{% block content %}
    <div class="tablet">
        <h3>Авторизируйтесь!</h3>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div>
                <label for="username">{{ 'security.login.usernameOrEmail'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div>
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />
            </div>

            <div class="center">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>

            <div class="center">
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-default" />
            </div>

            <hr>
            <div>
                <a href="{{ path('fos_user_resetting_request') }}">Забыли пароль?</a>
            </div>
            {% include 'parts/socWeb.html.twig' %}
            <hr>
            <a href="/register"><button class="btn btn-custom">Регистрация</button></a>
        </form>
    </div>
{% endblock content %}
