{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Новости - YourTar.ru</title>
    <meta name="description" content="Новости проекта YourTar.ru">
    <meta name="keywords" content="новость, новшество, yourtar.ru, YourTar.ru, новости проекта">
{% endblock %}

{% block content %}
    <div>
        <h3 class="pageHeader"><img src="/img/design/news-orange-min.png" class="headImg"> Новости: </h3>
        <div>
            {% for obj in news %}
                <div class="objectOwner">
                    <p class="left">{{ obj.title }}</p>
                </div>
                <div class="object notHover">
                    <div class="objectContent">
                        <p>
                            {% if obj.imageName != null %}
                                <img src="{{ vich_uploader_asset(obj, 'imageFile') }}" alt="Картинка для {{ obj.title }}" class="imageLeft">
                            {% endif %}
                            {{ obj.content }}
                            {% if obj.link != null %}
                            <br>
                                <a href="{{ obj.link }}">Подробнее</a>
                            {% endif %}
                        </p>
                        <p class="right date">{{ obj.date.format('d.m.Y') }}</p>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



