{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Страница не найдена - YourTar.ru</title>
{% endblock %}

{% block content %}
    <h3>Страница не найдена!</h3>

    <p>
        Эта страница не существует!
        <a href="{{ path('homepage') }}">Для возврата на главную страницу пройдите по ссылке.</a>
    </p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



