{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Доступ запрещён - YourTar.ru</title>
{% endblock %}

{% block content %}
    <h3>Доступ запрещён!</h3>

    <p>
        Проверье, авторизированы ли Вы и авторизируйтесь, если это ещё не сделано! Если это не помогло,
        Наша тех. поддержка постарается Вам помочь. Отправьте письмо с описанием проблемы на адрес support@yourtar.ru.
        <a href="{{ path('homepage') }}">Для возврата на главную страницу пройдите по ссылке.</a>
    </p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



