{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Ошибка сервера - YourTar.ru</title>
{% endblock %}

{% block content %}
    <h3>Ошибка сервера!</h3>

    <p>
        Наш сервер ошибся...ну с кем не бывает?! Не огорчайтесь и заходите попозже! Также можете сообщить об
        ошибке на адрес support@yourtar.ru.
        <a href="{{ path('homepage') }}">Для возврата на главную страницу пройдите по ссылке.</a>
    </p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



