<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pinalka!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/special/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/special/jquery.min.js') }}"></script>
        <script src="{{ asset('js/special/bootstrap.min.js') }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/design/logo-min.ico') }}"/>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
