{% block content %}
    <h2>Добавить достижение: </h2>
    <div class='form'>
    	{{ form_start(form, {'action': path('addAchieveFromTarget', {'id': id})}) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
    </div>
{% endblock %}

