{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Дневник достижений - YourTar.ru</title>
{% endblock %}

{% block content %}
    <div>
        <h1><img src="/img/design/dost-orange-min.png" class="headImg"> Мои достижения: </h1>
        <div class="buttonsBlock">
            <button data-path="{{ path('addAchievement') }}" data-type="achievement" class="add" title="Добавить"></button>
        </div>
        <div class="list">
            {% for achieve in achievements %}
                <div class="object">
                    <div class="objectTime">
                        <p>{{ achieve.date.format('d.m.Y') }}</p>
                    </div>
                    <div class="objectContent">
                        <p>{{ achieve.content }}</p>
                    </div>
                    <div class="buttonsBlock">
                        <button data-path="{{ path('editAchievement', {id: achieve.id}) }}" data-type="achievement"
                        class="edit" title="Редактировать"></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}




