<p>Здравствуйте!</p>
<br>
<p>
    Вы получили это письмо, так как был запрос на восстановление пароля с сайта
    <a href="http://pinalka.azurewebsites.net/">yourtar.ru</a>.
</p>
<p>Ваш логин: <span style="background-color: #00ff00">{{ login }}</span></p>
<p>Для того, чтобы сбросить пароль, пройдите по данной
 ссылке: <br>
    <a href="{{ url }}">{{ url }}</a></p>
<br>
<p>Спасибо за проявленный интерес к нашему проекту! Желаем успехов в достижении Ваших целей!</p>

{% include 'emails/signatures/admin.html.twig' %}