<p>Здравствуйте!</p>
<br>
<p>
    Пользователь {{ login }} преглашает Вас зарегистрироваться в проекте
    <a href="http://pinalka.azurewebsites.net/">yourtar.ru</a>.
</p>
<p>Для регистрации пройдите по ссылке: <br>
    <a href="{{ url }}">{{ url }}</a></p>
<br>
<p>Присоединяйтесь к Нам, становитесь лучше!</p>

{% include 'emails/signatures/admin.html.twig' %}