<p>Здравствуйте!</p>
<br>
<p>
    Вы получили это письмо, так как адрес Вашего почтового ящика был указан при регистрации на сайте
    <a href="http://pinalka.azurewebsites.net/">yourtar.ru</a>.
</p>
<p>Ваш логин: <span style="background-color: #00ff00">{{ login }}</span></p>
<p>Если вы зарегистрировались, используя Ваш аккаунт в социальных сетях, то Ваша учётная запись уже готова к работе.</p>
<p>Если же Вы регистрировались через обычную форму регистрации, то для начала работы с учётной записью Вам необходимо подтвердить Ваш email. Для этого пройдите по данной
 ссылке: <br>
    <a href="{{ url }}">{{ url }}</a></p>
<br>
<p>Спасибо за проявленный интерес к нашему проекту! Желаем успехов в достижении Ваших целей!</p>

{% include 'emails/signatures/admin.html.twig' %}