<h4>
    Пользователь сообщил об ошибке.
</h4>
<p>Логин: <span style="background-color: #00ff00">{{ login }}</span></p>
<p><strong>Сообщение: </strong>{{ support.content }}</p>
<br>
<p>
    Номер ошибки: №{{ support.id }}.
    <br>
    Дата: {{ support.date.format('d.m.Y') }}
</p>

{% include 'emails/signatures/support.html.twig' %}