{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Списки задач - YourTar.ru</title>
{% endblock %}

{% block content %}
    <div>
        <h1><img src="/img/design/dela-orange-min.png" class="headImg"> Ваши списки дел: </h1>
        <div class="buttonsBlock">
            {% if (lists|length < 3 or (app.user.paidTo != null and app.user.paidTo|date('Y-m-d') >= date()|date('Y-m-d'))) %}
                <button data-path="{{ path('addList') }}" data-type="toDoList" class="add" title="Добавить"></button>
            {% endif %}
        </div>
        <div class='list'>
            {% set num = 1 %}
            {% for list in lists %}
                <div class="object">
                    <div class="objectNum">
                        <p>{{ num }}.</p>
                        {% set num = num + 1 %}
                    </div>
                    <div class="objectContent">
                        <a href="{{ path('listShow', {'id': list.id}) }}">{{ list.name }}</a>
                    </div>
                    <div class="buttonsBlock">
                        <button data-path="{{ path('editList', {'id': list.id}) }}" data-type="toDoList"
                                class="edit" title="Редактировать"></button>
                        <button data="{{ path('delList', {'id': list.id}) }}" data-type="toDoList"
                                class="delete" title="Удалить"></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



