{% extends 'AppAdminBundle::base.html.twig' %}

{% block body %}
    <div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



