{% extends 'AppAdminBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="menu">
            {% include 'AppAdminBundle::parts/menu.html.twig' %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



