<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block metaBlock %}
        <title>{% block title %}YourTar.ru{% endblock %}</title>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/design/logo-min.ico') }}"/>
</head>
<body>
    {% block body %}{% endblock %}
    <div class="load">
        <img src="/img/design/load.gif" alt="Загрузка...">
    </div>
    {% block footer %}{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/special/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/special/jquery-ui.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/special/jquery.min.js') }}"></script>
        <script src="{{ asset('js/special/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('js/special/bootstrap.min.js') }}"></script>
        <script type="application/ld+json">
            {
              "@context" : "http://schema.org",
              "@type" : "Organization",
              "name" : "YourTar.ru",
              "url" : "http://yourtar.ru",
              "sameAs" : [
                "https://vk.com/yourtarru",
                "https://www.facebook.com/yourtarru/",
                "https://ok.ru/group/58184808792127"
              ]
            }
        </script>
    {% endblock %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter39755400 = new Ya.Metrika({
                        id:39755400,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true,
                        ecommerce:"dataYourTar"
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/39755400" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>
