{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Расписание - YourTar.ru</title>
{% endblock %}

{% block content %}
    <div class="mainList">
        <div class="row">
            <div class="col-sm-6 listHeader"><h3>Расписание: </h3></div>
            <div class="col-sm-6 buttonsBlock">
                <button data-path="{{ path('addSchedule') }}" data-type="schedule" class='add' title="Добавить"></button>
            </div>
        </div>
        <div class="list">
            {% for schedule in schedules %}
                <div class="object">
                    <div class="objectCheck">
                        <input type="checkbox" class="objectDone" id="done{{ schedule.id }}"
                                {% if schedule.active == 1 %} checked {% endif %}
                               data="{{ path('switchSchedule', {'id': schedule.id}) }}">
                        <label for="done{{ schedule.id }}"></label>
                    </div>
                    <div class="objectContent notDecoration"><a href="{{ path('employments', {id: schedule.id}) }}">{{ schedule.name }}</a></div>
                    <div class="buttonsBlock">
                        <button data-path="{{ path('editSchedule', {'id': schedule.id}) }}" data-type="schedule" class="edit" title="Редактировать"></button>
                        <button data="{{ path('delSchedule', {'id': schedule.id}) }}" class='delete' title="Удалить"></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/schedule.js') }}"></script>
{% endblock %}



