{% block content %}
    <h2>Написать в  Тех. поддержку: </h2>
    <div class='form'>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}




