{% extends 'AppAdminBundle::layout/main.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h4>Мысли:</h4>
        </div>
        <div class="col-sm-6">
            <a href="{{ path('aAddPhrase') }}" class="btn btn-success">Добавить</a>
        </div>
    </div>
    {% if list|length > 0 %}
        <table class="table">
            <tr>
                <th>#</th>
                <th>Мысль</th>
                <th>Автор</th>
                <th>Управление</th>
            </tr>
            {% for phrase in list %}
                <tr>
                    <td>{{ phrase.id }}</td>
                    <td>{{ phrase.phrase }}</td>
                    <td>{{ phrase.author }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Действия <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('aEditPhrase', {id: phrase.id}) }}">Редактировать</a></li>
                                <li><a href="{{ path('aDelPhrase', {id: phrase.id}) }}">Удалить</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p>Количество мыслей: {{ list|length }}</p>
    {% else %}
        <p>Мыслей ещё нет! Добавьте первую мысль!</p>
    {% endif %}
{% endblock %}