{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Календарик-пинарик - YourTar.ru</title>
{% endblock %}

{% block content %}
    <div>
        <h1><img src="/img/design/calend-orange-min.png" class="headImg"> Календарик-пинарик:</h1>
        <div class="calHit">
            <table>
                {% for month in list %}
                    <tr>
                        {% if month.num < today.format('m') %}
                            <td class="oldMonth">
                            {% elseif month.num == today.format('m') %}
                            <td class="today">
                            {% else %}
                            <td>
                        {% endif %}
                            {{ month.name }}
                        </td>
                        {% for day in month.days %}
                            {% if day.date < today %}
                                <td class="old">
                                {% elseif day.date == today %}
                                <td class="today">
                                {% else %}
                                <td>
                            {% endif %}
                                {{ day.num }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}



