{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Главная - YourTar.ru</title>
    <meta name="description" content="Сервис для повышения Вашей эффективности и мотивации. Набор лучших инструментов на сервисе для успешных людей!">
    <meta name="keywords" content="Мотивация, эффективность, повышение, успех, успешный, лучшие инструменты, повышение показателей, коучинг, работа над собой, цель, расписание, ежедневник, привычка, выработать привычку, работа с мотивацией">
{% endblock %}

{% block titleLine %}
    <h1><div class="mainLogo"></div> YourTar.ru</h1>
    <h4>Система повышения личной эффективности</h4>
{% endblock %}

{% block content %}
    <div class="stickers">
        <div class="sticker sticker{{ 1 + random(2) }}">
            <div class="back"></div>
            <div class="front">
                <h4>YourTar.ru</h4>
                <!--<p>Дисциплина, планирование, эффективность - далеко не полный список того, что
                Вы сможете получить, пользуясь Нашим сервисом. </p>-->
                <p>Наш сервис для тех, кто планирует добиться успеха в достижении своих целей.</p>
            </div>
            <div class="clip"></div>
        </div>
        <div class="sticker sticker{{ 1 + random(2) }}">
            <div class="back"></div>
            <div class="front">
                <h4>Цели</h4>
                <p>
                    Главный секрет успеха - четко сформулированная цель. Установите цель и разбейте
                    на конкретные шаги.
                </p>
            </div>
            <div class="clip"></div>
        </div>
        <div class="sticker sticker{{ 1 + random(2) }}">
            <div class="back"></div>
            <div class="front">
                <h4>Ежедневник</h4>
                <p>
                    Распланируйте Ваш день для эффективного использования своего времени.
                </p>
            </div>
            <div class="clip"></div>
        </div>

        {# <div class="sticker sticker{{ 1 + random(2) }}">
            <div class="back"></div>
            <div class="front">
                <h4>Расписание</h4>
                <p>
                    Повторяющиеся задачи автоматически заносятся в Ваш ежедневник в установленный
                    Вами период времени.
                </p>
            </div>
            <div class="clip"></div>
        </div> #}
        <div class="sticker sticker{{ 1 + random(2) }}">
            <div class="back"></div>
            <div class="front">
                <h4>Привычки</h4>
                <p>
                    Выработайте новые привычки. Достигатор позволит Вам отслеживать процесс изменений.
                </p>
            </div>
            <div class="clip"></div>
        </div>
        <div class="sticker sticker{{ 1 + random(2) }}">
            <div class="back"></div>
            <div class="front">
                <h4>Дела</h4>
                <p>
                    Идеи и задачи, которые Вы хотите реализовать, но не определились со сроками.
                </p>
            </div>
            <div class="clip"></div>
        </div>

        <div class="sticker sticker{{ 1 + random(2) }}">
            <div class="back"></div>
            <div class="front">
                <h4>Дневник достижений</h4>
                <p>
                    Инструмент самомотивации. Хвалите себя за успехи ежедневно
                </p>
            </div>
            <div class="clip"></div>
        </div>
        <div class="sticker sticker{{ 1 + random(2) }}">
            <div class="back"></div>
            <div class="front">
                <h4>Напоминания</h4>
                <p>
                    Теперь Вы ничего не забудете! Мы Вам в этом поможем!
                </p>
            </div>
            <div class="clip"></div>
        </div>
        <div class="sticker sticker{{ 1 + random(2) }}">
            <div class="back"></div>
            <div class="front">
                <h4>Библиотека</h4>
                <p>
                    Сборник статей на темы повышения эффективности и мотивации.
                </p>
            </div>
            <div class="clip"></div>
        </div>

        <div class="sticker sticker{{ 1 + random(2) }}">
            <div class="back"></div>
            <div class="front">
                <h4>Спасибо!</h4>
                <p>
                    Мы ценим Ваше время и стараемся улучшить Наш сервис! Спасибо Вам за сотрудничество
                    с Нами!
                </p>
            </div>
            <div class="clip"></div>
        </div>

    </div>
{% endblock %}



