{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Главная - YourTar.ru</title>
    <meta name="description" content="Сервис для повышения Вашей эффективности и мотивации. Набор лучших инструментов на сервисе для успешных людей!">
    <meta name="keywords" content="Мотивация, эффективность, повышение, успех, успешный, лучшие инструменты, повышение показателей, коучинг, работа над собой, цель, расписание, ежедневник, привычка, выработать привычку, работа с мотивацией">
{% endblock %}

{% block titleLine %}
    <h1><img src="/img/design/logo-min.png" class="mainLogo" alt="Лого"> YourTar.ru</h1>
    <h4>Система повышения личной эффективности</h4>
{% endblock %}

{% block content %}
    <div class="landing">
        <div class="orangeBlock center">
            <p>Добивайся целей, меняй свою жизнь, будь эффективен!</p>
        </div>
        <div class="whiteBlock">
            <h4>У Нас Вы найдете все, что нужно для планирования:</h4>
            <div class="row">
                <div class="col-md-6">
                    <img src="/img/design/1-min.png" class="descPhoto">
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Ежедневник</li>
                        <li>Планирование целей</li>
                        <li>Выработка привычек</li>
                        <li>Работа со списками задач</li>
                        <li>Удобная система напоминаний</li>
                        <li>Обучение правильному использованию инструментов планирования</li>
                    </ul>
                    <a href="/register" class="btn btn-custom btn-warning">Начать планировать!</a>
                </div>
            </div>
        </div>
        <div class="orangeBlock">
            <h4>Работа с мотивацией - это важно!</h4>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>Ведите дневник достижений</li>
                        <li>Назначайте сроки сдачи целей</li>
                        <li>Получайте бонусы за Вашу работу</li>
                        <li>Изучайте истории успеха других людей</li>
                        <li>Знакомьтесь с мыслями великих людей</li>
                    </ul>
                    <a href="/register" class="btn btn-custom btn-warning">Мотивируй себя!</a>
                </div>
                <div class="col-md-6">
                    <img src="/img/design/2-min.png" class="descPhoto">
                </div>
            </div>
        </div>
        <div class="whiteBlock">
            <h4>YourTar.ru - это:</h4>
            <div class="row">
                <div class="col-md-6">
                    <img src="/img/design/3-min.png" class="descPhoto">
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Дисциплина</li>
                        <li>Контроль времени</li>
                        <li>Возможность помнить всё</li>
                        <li>Саморазвитие</li>
                        <li>Вкус новых побед</li>
                    </ul>
                    <a href="/register" class="btn btn-custom btn-warning">Присоединяйся к YourTar.ru</a>
                </div>
            </div>
        </div>
        {#<div class="orangeBlock">
            <h4>Что такое YourTar?</h4>
            <div class="row">
                <div class="col-md-4 center">
                    <img src="/img/design/celIcon-orange-min.png" class="headImg" alt="Цель">
                    <p>Удобный планировщик целей</p>
                </div>
                <div class="col-md-4 center">
                    <img src="/img/design/calend-orange-min.png" class="headImg"  alt="Календарь">
                    <p>Ежедневное планирование</p>
                </div>
                <div class="col-md-4 center">
                    <img src="/img/design/privitchki-orange-min.png" class="headImg" alt="Привычка">
                    <p>Выработка привычек</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 center">
                    <img src="/img/design/dela-orange-min.png" class="headImg" alt="Список задач">
                    <p>Списки задач и заметок</p>
                </div>
                <div class="col-md-4 center">
                    <p class="orangeText">M</p>
                    <p>Работа с мотивацией</p>
                </div>
                <div class="col-md-4 center">
                    <img src="/img/design/uved-orange-min.png" class="headImg" alt="Напоминания">
                    <p>Напоминания</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 center">
                    <img src="/img/design/dost-orange-min.png" class="headImg" alt="Достижение">
                    <p>Работа с достижениями</p>
                </div>
                <div class="col-md-4 center">
                    <img src="/img/design/progr-orange-min.png" class="headImg" alt="Метрика">
                    <p>Метрики для оценки эффективности</p>
                </div>
                <div class="col-md-4 center">
                    <img src="/img/design/bibl-orange-min.png" class="headImg" alt="Библиотека">
                    <p>Обучение основам Тайм-менеджмента</p>
                </div>
            </div>
            <div class="center">
                <a href="/register" class="btn btn-custom btn-warning">Зарегистрироваться</a>
            </div>
        </div>
        <br>
        <div class="whiteBlock">
            <h4>Чем мы лучше?</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="circle">
                        1
                    </div>
                    <p>Лучший набор инструментов для работы с Тайм-менеджментом и Мотивацией в одном месте.</p>
                </div>
                <div class="col-md-4">
                    <div class="circle">
                        2
                    </div>
                    <p>Обучение основам планирования и расширение кругозора.</p>
                </div>
                <div class="col-md-4">
                    <div class="circle">
                        3
                    </div>
                    <p>Отсутствие отвлекающих факторов.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 center">
                    <div class="circle">
                        4
                    </div>
                    <p>Атмосфера для эффективной работы</p>
                </div>
                <div class="col-md-4 center">
                    <div class="circle">
                        5
                    </div>
                    <p>Работает по-настоящему на всех устройствах</p>
                </div>
                <div class="col-md-4 center">
                    <div class="circle">
                        6
                    </div>
                    <p>Корректное отображение сайта на всех устройствах</p>
                </div>
            </div>
            <hr>
            <br>

            <h4>Мнение наших пользователей:</h4>
            <div>
                <div class="objectOwner left">
                    <p>{{ fb.user.username }}:</p>
                </div>
                <div class="object notHover">
                    <div class="objectContent">
                        <p>{{ fb.content }}</p>
                        <p class="date right">{{ fb.date.format('d.m.Y') }}</p>
                    </div>
                </div>
                <div class="center">
                    <a href="/register" class="btn btn-custom btn-warning">Зарегистрироваться</a>
                </div>
            </div>
        </div>
        <br>
        <div class="orangeBlock">
            <div class="row">
                <div class="withBG col-sm-6 center">
                    <ul>
                        <li>Планируй</li>
                        <li>Управляй своим временем</li>
                        <li>Вырабатывай полезные привычки</li>
                        <li>Формируй дисциплину</li>
                        <li>Добивайся успеха</li>
                    </ul>
                    <div class="center">
                        <a href="/register" class="btn btn-custom btn-warning">Зарегистрироваться</a>
                    </div>
                </div>
                <div class="withBG col-sm-6 center">
                    <ul>
                        <li>Контролируй</li>
                        <li>Успевай всё</li>
                        <li>Меняйся</li>
                        <li>Побеждай</li>
                        <li>Будь лучшим</li>
                    </ul>
                    <div class="center">
                        <a href="/register" class="btn btn-custom btn-warning">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
        </div>#}
    </div>
{% endblock %}

{% block footer %}
    <div class="footer row">
        <h4>Контакты</h4>
        <div class="col-md-6">
            <h4>Наши группы в социальных сетях:</h4>
            <ul>
                <li><a href="https://vk.com/yourtarru" class="contacts" target="_blank"><div class="vkontakte"></div>ВКонтакте</a></li>
                <li><a href="https://ok.ru/group/58184808792127" class="contacts" target="_blank"><div class="ok"></div>Одноклассники</a></li>
                <li><a href="https://www.facebook.com/yourtarru" class="contacts" target="_blank"><div class="facebook"></div>Facebook</a></li>
                <li><a href="https://www.instagram.com/yourtar.ru/" class="contacts" target="_blank"><div class="instagram"></div>Instagram</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=yourtar.yourtar&hl=ru" class="contacts" target="_blank"><div class="googlePlay"></div>А также наше приложение для Android</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Наши контакты:</h4>
            <p>
                Администрация проекта: <a href="mailto:admin@yourtar.ru">admin@yourtar.ru</a>.<br>
                Техническая служба проекта: <a href="mailto:support@yourtar.ru">support@yourtar.ru</a>.<br>
                Будем рады любым вопросам и предложениям.<br>
                С уважением, команда YourTar.ru.
            </p>
            <a href="{{ path('user_agreement') }}">Пользовательское соглашение</a>
            <p>
                Много полезной информации и самые свежие новости проекта. Подпишись и будь в курсе всех событий!
            </p>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/landing.css') }}"/>
{% endblock %}