{% extends "layout/main.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock content %}
