{% extends "layout/main.html.twig" %}

{% block content %}
    <div class="tablet">
        <h3 class="listHeader">Регистрация: </h3>
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock content %}
