{% extends "::layout/main.html.twig" %}

{% block metaBlock %}
    <title>Регистрация - YourTar.ru</title>
    <meta name="description" content="Регистрация на YourTar.ru. Станьте лучше вместе с Нами!">
    <meta name="keywords" content="регистрация, yourtar, YourTar, yourtar.ru, YourTar.ru, стать лучшеб повышение эффективности">
{% endblock %}

{% block content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock content %}
