{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'attr': {'class': 'user_form fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-default" />
    </div>
    <p>Регистрируясь, Вы соглашаетесь с <a href="{{ path('user_agreement') }}">пользовательским соглашением</a> проекта.</p>
    <hr>
    {% include 'parts/socWeb.html.twig' %}
{{ form_end(form) }}
