<table class="calendar">
    <tr class="selectMonth">
        <td class="choiсeMonth left" data-m="{{ month.num - 1 }}" data-y="{{ year }}">

        </td>
        <td colspan="5">
            {{ month.name }} {{ year }}
        </td>
        <td class="choiсeMonth right" data-m="{{ month.num + 1 }}" data-y="{{ year }}">

        </td>
    </tr>
    <tr>
        {% for day in days %}
            <td class="dayCell">
                {{ day }}
            </td>
        {% endfor %}
    </tr>
    {% for week in calendar %}
        <tr class="calWeek">
            {% for day in week %}
            <td class="calCell {{ day.class }}">
                <a href="{{ path('tasks', {date: year~'-'~month.num~'-'~day.date}) }}">
                    {{ day.date }}
                </a>
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    <tr>
        <td colspan="7" class="calCell today notHover">
            <a class="notHover" href="{{ path('tasks', {date: today.year~'-'~today.month.num~'-'~today.day}) }}">
                Сегодня: {{ today.day ~ '.' ~ today.month.name ~ '.' ~ today.year }}
            </a>
        </td>
    </tr>
</table>