{% set visible = app.user.helperSettings %}
<div class="helper cal">
    {% if date is defined %}
        {{ render(controller('AppBundle:Other:calendar', {date: date|date('Y-m-d')})) }}
    {% else %}
        {{ render(controller('AppBundle:Other:calendar')) }}
    {% endif %}
</div>
<div class="helperMenu">
    <table class="helper">
        <tr>
            <td class="hHeader reminder {% if visible.reminder == 1 %} active {% endif %}" data-path="{{ path('changeHS', {helper: 'reminder'}) }}" data-type="reminder"></td>
            <td class="hHeader performance {% if visible.performance == 1 %} active {% endif %}" data-path="{{ path('changeHS', {helper: 'performance'}) }}" data-type="performance"></td>
            <td class="hHeader hTarget {% if visible.target == 1 %} active {% endif %}" data-path="{{ path('changeHS', {helper: 'target'}) }}" data-type="hTarget"></td>
            <td class="hHeader phrase {% if visible.phrase == 1 %} active {% endif %}" data-path="{{ path('changeHS', {helper: 'phrase'}) }}" data-type="phrases"></td>
        </tr>
    </table>
    <div class="helper reminder">
        <div class="hContent {% if visible.reminder == 1 %} block {% endif %}">
            <div class="helperIcon"></div>
            <p class="phrase"></p>
            <p class="date"></p>
        </div>
    </div>
    <div class="helper performance">
        <div class="hContent {% if visible.performance == 1 %} block {% endif %}">
            <div class="helperIcon"></div>
            <p class="phrase"></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>
    <div class="helper hTarget">
        <div class="hContent {% if visible.target == 1 %} block {% endif %}">
            <div class="helperIcon"></div>
            <p class="phrase"></p>
        </div>
    </div>
    <div class="helper phrases">
        <div class="hContent {% if visible.phrase == 1 %} block {% endif %}" data-id="">
            <div class="helperIcon"></div>
            <p class="phrase"></p>
            <p class="author"></p>
        </div>
    </div>
</div>
<button class="support btn btn-default" data-path="{{ path('addSupportMessage') }}" data-type="support">Указать на ошибку</button>