<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-navigation"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="menu-navigation">
            {% if not is_granted('ROLE_USER') %}
                {{ knp_menu_render('notAuth', {
                    'currentClass': 'active',
                    'ancestorClass': 'active',
                    'currentAsLink': true,
                    'template': ':menu:knp_menu.html.twig',
                }) }}
            {#{% elseif is_granted('ROLE_PARTNER') %}
                {{ knp_menu_render('partner', {
                    'currentClass': 'active',
                    'ancestorClass': 'active',
                    'currentAsLink': true,
                    'template': ':menu:knp_menu.html.twig',
                }) }}#}
            {% else %}
                {{ knp_menu_render('main', {
                    'currentClass': 'active',
                    'ancestorClass': 'active',
                    'currentAsLink': true,
                    'template': ':menu:knp_menu.html.twig',
                }) }}
            {% endif %}
        </div>
    </div>
</nav>