<p>Войти через:</p>
<a class="oauth" href="{{ path('hwi_oauth_service_redirect', {'service': 'yandex' }) }}">
    <div class="yandex"></div>
</a>
<a class="oauth" href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">
    <div class="google"></div>
</a>
<a class="oauth" href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte' }) }}">
    <div class="vkontakte"></div>
</a>
<a class="oauth" href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}">
    <div class="twitter"></div>
</a>