{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Список привычек - YourTar.ru</title>
{% endblock %}

{% block content %}
    <div class="mainList">
        <h3><img src="/img/design/privitchki-orange-min.png" class="headImg"> Список привычек: </h3>
        <div class="buttonsBlock">
            {% if (habits|length < 1 or (app.user.paidTo != null and app.user.paidTo|date('Y-m-d') >= date()|date('Y-m-d'))) %}
                <button data-path="{{ path('addHabit') }}" data-type="habit" class="add" title="Добавить"></button>
            {% endif %}
        </div>
        <div class='list'>
            {% for habit in habits %}
                <div class="object">
                    <div class="objectCheck">
                        <input type="checkbox" class="objectDone" id="done{{ habit.id }}"
                                {% if habit.active == 1 %} checked {% endif %}
                               data="{{ path('switchHabit', {'id': habit.id}) }}">
                        <label for="done{{ habit.id }}"></label>
                    </div>
                    <div class="objectContent notDecoration">
                        <a href="{{ path('showHabit', {'id': habit.id}) }}">{{ habit.name }}</a>
                    </div>
                    <div class="buttonsBlock">
                        <button data-path="{{ path('editHabit', {'id': habit.id}) }}" data-type="habit" class="edit" title="Редактировать"></button>
                        <button class="delete" data="{{ path('delHabit', {'id': habit.id}) }}" title="Удалить"></button>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if doneHabits.notActive|length > 0 %}
            <br>
            <div class='list'>
                <h4>Привычки не выработаны:</h4>
                {% for habit in doneHabits.notActive %}
                    <div class="object">
                        <div class="objectCheck">
                            <input type="checkbox" class="objectDone" id="done{{ habit.id }}"
                                    {% if habit.active == 1 %} checked {% endif %}
                                   data="{{ path('switchHabit', {'id': habit.id}) }}">
                            <label for="done{{ habit.id }}"></label>
                        </div>
                        <div class="objectContent notDecoration">
                            <a href="{{ path('showHabit', {'id': habit.id}) }}">{{ habit.name }}</a>
                        </div>
                        <div class="buttonsBlock">
                            <button data-path="{{ path('editHabit', {'id': habit.id}) }}" data-type="habit" class="edit" title="Редактировать"></button>
                            <button class="delete" data="{{ path('delHabit', {'id': habit.id}) }}" title="Удалить"></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if doneHabits.done|length > 0 %}
            <br>
            <div class='list'>
                <h4>Привычки выработаны:</h4>
                {% for habit in doneHabits.done %}
                    <div class="object">
                        <div class="objectCheck">
                            <input type="checkbox" class="objectDone" id="done{{ habit.id }}"
                                    {% if habit.active == 1 %} checked {% endif %}
                                   data="{{ path('switchHabit', {'id': habit.id}) }}">
                            <label for="done{{ habit.id }}"></label>
                        </div>
                        <div class="objectContent notDecoration">
                            <a href="{{ path('showHabit', {'id': habit.id}) }}">{{ habit.name }}</a>
                        </div>
                        <div class="buttonsBlock">
                            <button data-path="{{ path('editHabit', {'id': habit.id}) }}" data-type="habit" class="edit" title="Редактировать"></button>
                            <button class="delete" data="{{ path('delHabit', {'id': habit.id}) }}" title="Удалить"></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if doneHabits.notDone|length > 0 %}
            <br>
            <div class='list'>
                <h4>Привычки не выработаны:</h4>
                {% for habit in doneHabits.notDone %}
                    <div class="object">
                        <div class="objectCheck">
                            <input type="checkbox" class="objectDone" id="done{{ habit.id }}"
                                    {% if habit.active == 1 %} checked {% endif %}
                                   data="{{ path('switchHabit', {'id': habit.id}) }}">
                            <label for="done{{ habit.id }}"></label>
                        </div>
                        <div class="objectContent notDecoration">
                            <a href="{{ path('showHabit', {'id': habit.id}) }}">{{ habit.name }}</a>
                        </div>
                        <div class="buttonsBlock">
                            <button data-path="{{ path('editHabit', {'id': habit.id}) }}" data-type="habit" class="edit" title="Редактировать"></button>
                            <button class="delete" data="{{ path('delHabit', {'id': habit.id}) }}" title="Удалить"></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



