{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Привычка {{ habit.name }} - YourTar.ru</title>
{% endblock %}

{% block content %}
    <div>
        <h1>
            <a href="{{ path('habits') }}"><button class="back_btn" title="Назад"></button></a>
            <img src="/img/design/privitchki-orange-min.png" class="headImg"> Привычка {{ habit.name }}:
        </h1>
        <div class="buttonsBlock">
            <button data-path="{{ path('editHabit', {'id': habit.id}) }}" data-type="habit" class='edit' title="Редактировать"></button>
        </div>
        <div>
            <div class="object table notHover">
                <div class="objectContent notDecoration">
                    <h4>Процесс привыкания:</h4>
                    {% if habit.active == 1 %}
                        <table class="table table-bordered habit">
                            <tr class="notHover">
                                <th>
                                    День:
                                </th>
                                <th>
                                    Статус:
                                </th>
                            </tr>
                            {% for val in performance %}
                                <tr>
                                    <td>
                                        <p>{{ val.date|date('d.m.Y') }}</p>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="objectDone" id="done{{ val.id }}"
                                                {% if val.done == true %} checked disabled
                                                {% else %}
                                                    data="{{ path('checkTask', {'id': val.id}) }}"
                                                    {% if val.date|date('U') > "now"|date('U') %}
                                                        disabled
                                                    {% endif %}
                                                {% endif %}
                                        >
                                        <label for="done{{ val.id }}"></label>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <p><strong>Статистика:</strong> {{ perfStatistic.done1 }}/{{ perfStatistic.all1 }}</p>
                        <table class="elementProgress">
                            <tr>
                                <td><p>Эффективность:</p></td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ perfStatistic.done1 }}"
                                             aria-valuemin="0" aria-valuemax="{{ perfStatistic.all1 }}"
                                             style="width: {{ (perfStatistic.done1/perfStatistic.all1*100) }}%; min-width: 2em;">
                                            {{ perfStatistic.done1 }}/{{ perfStatistic.all1 }}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        <p>Выработка привычки не начата.</p>
                        <p>Для начала работы над собой активируйте привычку в её настройках.</p>
                    {% endif %}
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



