{% trans_default_domain 'FOSUserBundle' %}

<div class="sheetStyle">
    <div class="listHeader">
        <h3 class="pageHeader">Смена пароля:</h3>
    </div>
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'user fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-default"/>
        </div>
    {{ form_end(form) }}
</div>