{% extends 'AppAdminBundle::layout/main.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h4>Изменить роль пользователя:</h4>
        </div>
    </div>
    <form method="post">
        <label>Логин или email:</label>
        <input type="text" name="user" class="form-control">
        <label>Новая роль:</label>
        <input type="text" name="role" class="form-control" value="ROLE_CONTENT_MANAGER">
        <input type="submit" class="btn btn-success">
    </form>
    <p>Roles:</p>
    <ul>
        <li>ROLE_ADMIN</li>
        <li>ROLE_CONTENT_MANAGER</li>
        <li>ROLE_PARTNER</li>
        <li>ROLE_USER</li>
    </ul>
{% endblock %}