<div id="attainment{{ attainment.id }}" class="attainmentItem" data-html="true" data-placement="bottom" data-toggle="popover" title="{{ attainment.title }}" data-content="{{ attainment.description }}<br>Награда за достижение: {{ attainment.price }} оч.">
    {% if attainment in app.user.attainments.snapshot %}
        {% set my = 1 %}
    {% else %}
        {% set my = 0 %}
    {% endif %}
    <div class="circle {% if my == 0 %}notMy{% endif %}">
        {{ num }}
    </div>
    {{ attainment.title }}
</div>
{% if attainment.next != null %}
    <div class="arrow">
        &#8594;
    </div>
    {% include 'recursion/attainment.html.twig' with {'attainment': attainment.next, 'num': (num+1)} %}
{% endif %}

