<div class="row">
    <div class="col-sm-6 listHeader objectName {% if target.done == 1 %}done{% endif %}">
        <h3>
            {% if first == 1 %}
                <a href="{{ path('targets') }}"><button class="back_btn" title="Назад"></button></a>
            {% endif %}
            <input type="checkbox" class="objectDone" id="done{{ target.id }}" data-type="target"
                    {% if target.done == 1 %} checked {% endif %}
                   data-path="{{ path('doneTarget', {'id': target.id}) }}">
            <label for="done{{ target.id }}"></label>
            {{ target.name }}
        </h3>
    </div>
    <div class="col-sm-6 buttonsBlock">
        {% if (first < 3 or (app.user.paidTo != null and app.user.paidTo|date('Y-m-d') >= date()|date('Y-m-d'))) %}
        <button data-path="{{ path('addTarget', {'id': target.id}) }}" data-type="target" class="add" title="Добавить"></button>
        {% endif %}
        <button data-path="{{ path('editTarget', {'id': target.id}) }}" data-type="target" class="edit" title="Редактировать"></button>
        <button data-path="{{ path('sync', {'id': target.id, 'type': 'target'}) }}"
                class="btn btn-default toDiary" title="В ежедневник"></button>
        {% if first == 1 %}
            <a href="{{ path('target_statistic') }}#target{{ target.id }}"><button class="statistic" title="Статистика"></button></a>
        {% endif %}
        {% if first != 1 %}
            <button class="delete" data="{{ path('delTarget', {'id': target.id}) }}" data-type="target" title="Удалить"></button>
        {% endif %}
    </div>
</div>
{% if first == 1 %}
    <table class="elementProgress">
        <tr>
            <td><p>Выполнено:</p></td>
            <td>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress.done.count }}"
                         aria-valuemin="0" aria-valuemax="{{ progress.count }}"
                         style="width: {{ (progress.done.count/progress.count*100) }}%; min-width: 2em;">
                        {{ progress.done.count }}/{{ progress.count }}
                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endif %}
{% if target.child|length > 0 or target.description != null %}
    <div class="listHeader">
        <p href="#" class="showMoreInfo"  data-type="target" data="{{ path('openCloseTarget', {'id': target.id}) }}">Показать/скрыть подробности</p>
    </div>
{% endif %}
<div class="moreInfo {% if target.open == 0 %} open-close {% endif %}">
    <div class="description">
        {% if target.description != null %}
            <p>Описание: {{ target.description }}</p>
        {% endif %}
        <p>Крайний срок выполнения:
            {% if target.deadline != null %}
                {{ target.deadline.format('d.m.Y') }}
            {% else %}
                не указан.
            {% endif %}
        </p>
    </div>
    {% if target.child|length > 0 %}
        <div class="children">
            {% set x = style %}
            {% for child in target.child %}
                <div class="target target{{x}}">
                    {% set x = ((x + 1) % 2) %}
                    {% include 'recursion/subtargets.html.twig' with {'target': child, 'first': (first + 1), 'style': x} %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
