{% extends '::layout/main.html.twig' %}

{% block content %}
    <h3>{{ 'header.register' | trans({'%name%': userInformation.realName}, 'HWIOAuthBundle') }}</h3>
    <div class="row">
        <div class="span6">
            {{ form_start(form, {'action': path('hwi_oauth_connect_registration', {'key': key}), 'attr': {'class': 'hwi_oauth_registration_register'}}) }}
                {{ form_widget(form) }}
                <div>
                    <button type="submit" class="btn btn-default">{{ 'connect.registration.submit'|trans({}, 'HWIOAuthBundle') }}</button>
                    <a href="{{ path('hwi_oauth_connect') }}" class="btn">{{ 'connect.registration.cancel' | trans({}, 'HWIOAuthBundle') }}</a>
                </div>
            {{ form_end(form) }}
        </div>
        <div class="span6">
            {% if userInformation.profilePicture is not empty %}
                <img class="regixtrationProfileImage" src="{{ userInformation.profilePicture }}" />
            {% endif %}
        </div>
    </div>

{% endblock content %}
