{% extends '::layout/main.html.twig' %}

{% block content %}
    <h3>{{ 'header.registration_success' | trans({'%username%': app.user.username}, 'HWIOAuthBundle') }}</h3>
    <p>На почту, указанную при регистрации, было выслано письмо. Если оно вдруг не пришло, проверьте папку "Спам".</p>
{% endblock content %}
