{% block content %}
    <h2>Редактировать напоминание</h2>
    <div class='form'>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

