{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Напоминания - YourTar.ru</title>
{% endblock %}

{% block content %}
    <div>
        <h3><img src="/img/design/uved-orange-min.png" class="headImg"> Напомнить: </h3>
        <div class="buttonsBlock">
            <button data-path="{{ path('addReminder') }}" data-type="reminder" class='add' title="Добавить"></button>
        </div>
        <div class="filter">
            <p>Фильтр: </p>
            {{ form_start(filter) }}
            {{ form_widget(filter) }}
            {{ form_end(filter) }}
        </div>
        <div>
            {% for rm in reminders %}
                <div class="object">
                    <div class="objectTime">
                        <p>{{ rm.date.format('d.M.Y') }}</p>
                    </div>
                    <div class="objectContent">
                        <p>{{ rm.content }}</p>
                    </div>
                    <div class="buttonsBlock">
                        <button data-path="{{ path('editReminder', {id: rm.id}) }}" data-type="reminder"
                                class="edit" title="Редактировать"></button>
                        <button data="{{ path('delReminder', {id: rm.id}) }}" data-type="reminder"
                                class="delete" title="Удалить"></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



