{% extends 'AppAdminBundle::layout/main.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h4>Статьи:</h4>
        </div>
        <div class="col-sm-6">
            <a href="{{ path('aAddArticle') }}" class="btn btn-success">Добавить</a>
        </div>
    </div>
    {% if list|length > 0 %}
        <table class="table">
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Управление</th>
            </tr>
            {% for article in list %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>
                        <div class="btn-group">
                            {% if app.user in article.user.snapshot %}

                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Действия <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('aEditArticle', {id: article.id}) }}">Редактировать</a></li>
                                    <li><a href="{{ path('aDelArticle', {id: article.id}) }}">Удалить</a></li>
                                </ul>
                            {% else %}
                                <p>Это не ваша статья</p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p>Количество статей: {{ list|length }}</p>
    {% else %}
        <p>Статей ещё нет! Добавьте первую статью!</p>
    {% endif %}
{% endblock %}