{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Достижения - YourTar.ru</title>
{% endblock %}

{% block content %}
    <div>
        <h3><a href="{{ path('fos_user_profile_show') }}"><button class="back_btn" title="Назад"></button></a>Достижения: </h3>
        <table class="table">
            {% for item in attainments %}
                <tr><td>{% include 'recursion/attainment.html.twig' with {'attainment': item, 'num': 1} %}</td></tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}



