{% block content %}
    {% if message == 1 %}
        <p class="message">Спасибо! Мы выслали письмо по указанному адресу от Вашего имени.</p>
    {% endif %}
    <div class="form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="user-list">
        {% if referrals|length > 0 %}
            <p>Вы их привели:</p>
            <ul>
                {% for referral in referrals %}
                    <li>
                        <p>
                            {{ referral.username }}
                            <br>
                            {{ referral.email }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Вы ещё никого не привели</p>
        {% endif %}
    </div>
{% endblock %}