{% extends 'base.html.twig' %}

{% block body %}
    <div class="header">
        {% include 'parts/menu.html.twig' %}
    </div>
    {% include 'parts/modal.html.twig' %}
    <div class="pageTitleLine">
        {% block titleLine %}{% endblock %}
    </div>
    <div class="row custom-container">
        <div class="content {% if is_granted('ROLE_USER') %}col-sm-9{% else %}col-sm-12{%  endif %}">
            {% block content %}{% endblock %}
        </div>
        {% if is_granted('ROLE_USER') %}
        <div class="helpers col-sm-3">
            {% include 'parts/helpers.html.twig' %}
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.js') }}"></script>
    {% if is_granted('ROLE_USER') %}
        <script src="{{ asset('js/helpers.js') }}"></script>
    {% endif %}
{% endblock %}



