{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Наши статьи - YourTar.ru</title>
{% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-sm-6 listHeader">
                <h3>Наши статьи:</h3>
            </div>
            <div class="col-sm-6 buttonsBlock">
                <button data-path="{{ path('addPartnerArticle') }}" data-type="article" class='add' title="Добавить"></button>
            </div>
        </div>
        <div>
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="{{ path('partner') }}">Профиль</a></li>
              <li role="presentation" class="active"><a href="{{ path('partnerArticles') }}">Статьи</a></li>
            </ul>
        </div>
        <div class='list'>
            {% if list|length > 0 %}
                {% for article in list %}
                    <div class="object">
                        <div class="objectContent">
                            <a href="{{ path('showPartnerArticle', {'id': article.id}) }}">{{ article.title }}</a>
                        </div>
                        <div class="buttonsBlock">
                            <button data-path="{{ path('editPartnerArticle', {id: article.id}) }}" data-type="article" class="edit" title="Редактировать"></button>
                            <button data="{{ path('delPartnerArticle', {id: article.id}) }}" data-type="article"
                                    class="delete" title="Удалить"></button>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Пока нет статей.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}