{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>{{ article.title }} - YourTar.ru</title>
{% endblock %}

{% block content %}
    <div>
        <div class="object notHover article">
            <div class="objectContent">
                <h3>
                    <a href="{{ path('partnerArticles') }}"><button class="back_btn" title="Назад"></button></a>
                    {{ article.title }}
                </h3>
                <br>
                <p>
                    {% if article.imageName != null %}
                        <img src="/img/administrative/{{ article.imageName }}">
                    {% endif %}
                    {{ article.content | raw }}
                </p>
                <p class="right date">{{ article.author }}&#160;</p>
                <p class="right date">{{ article.date.format('d.m.Y') }}&#160;</p>
            </div>
        </div>
    </div>
{% endblock %}