{% extends 'AppAdminBundle::layout/main.html.twig' %}

{% block content %}
    <h4>Здравствуй, дорогой Друг!</h4>
    <p>Здесь Ты можешь помочь нашему сайту развиться! Спасибо Тебе за проявленное участие. <br>
        Прежде, чем Ты приступишь к работе, хочется напомнить о некоторых вещах: </p>
    <ul>
        <li>не меняй и не удаляй чужой материал</li>
        <li>не добавляй что попало</li>
        <li>оформляй весь свой контент правильно и максимально подробно</li>
        <li>все проблемы, конфликты и прочие негативные элементы решай через администратора, если самостоятельно
        не получается решить спокойно</li>
    </ul>
    <p>Благодарю за внимание!</p>
    <p>Координаты для связи с администратором (Владимиров Михаил):<br>
    Телефон: +7 952 891 14 33<br>
    Email: vmv@yourtar.ru<br>
    VK: <a href="https://vk.com/id30535650">https://vk.com/id30535650</a></p>
{% endblock %}