body
{
    width: 100%;
}

body > div
{
    display: inline-flex;
}

.menu
{
    width: 200px;

}

.content
{
    margin: 10px;
    width: 1240px;
}

form div.vich-image img
{
    width: 300px;
    height: 100%;
}