.landing
{
	width: 94%;
	border-radius: 20px;
	margin-top: 18px;
	margin-left: 3%;
	margin-right: 3%;
	text-align: left;
}

.landing div.withBG
{
	padding: 20px;

}

.landing div.withoutBG
{
	padding-right: 20px;
}

.landing .screenForLanding
{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: solid 3px #f56636;
}

.landing ul
{
	list-style: none;
}

.landing ul > li
{

	background: url("../img/icons/Check-min.png");
	background-size: 20px auto;
	background-repeat: no-repeat;
	padding-left: 25px;
	padding-bottom: 2.5px;
}

.landing .sticker
{
	text-align: left;
	width: 95%;
	max-width: 290px;
    height: 290px;
    z-index: 2;
    padding-right: 5%;
}

.landing div.top
{
	border-radius: 50px 20px 0 0;
}

.landing .center
{
	text-align: center;
}

.orangeText
{
	color: #f56636;
	font-weight: 900;
	font-size: 40px;
	font-style: normal;
}

.landing div.bottom
{
	border-radius: 50px 0 50px 20px;
	height: auto;
}

.whiteBlock, .orangeBlock
{
	border-bottom: 5px solid #f56636;
	border-radius: 10px;
	padding-bottom: 15px;
	padding-top: 15px;
	margin: 10px 0;
}

.orangeBlock
{
	background: #f2d5c8;
}

.descPhoto
{
	width: 100%;
	height: auto;
}

.contacts
{
	align-items: center;
    display: inline-flex;
}

.contacts > div
{
    width: 25px;
    height: 25px;
    display: inline-flex;
    margin-right: 5px;
}

.contacts > div.facebook
{
    background: url("../img/icons/facebook-min.png");
    background-size: 25px auto;
}

.contacts > div.instagram
{
	background: url("../img/icons/instagram-min.png");
	background-size: 25px auto;
}

.contacts > div.googlePlay
{
	background: url("../img/icons/playstore-min.png");
	background-size: 25px auto;
}

.contacts > div.ok
{
    background: url("../img/icons/ok-min.png");
    background-size: 25px auto;
}

.contacts > div.vkontakte
{
    background: url("../img/icons/vk-min.png");
    background-size: 25px auto;
}

.landing div.bottom > div.logoAndTagline
{
	background: url("../img/design/logo-min.png");
    background-size: 130px auto;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    text-align: center;
    min-width: 20%;
	height: 160px;
}

.landing div.bottom > div.logoAndTagline > p
{
	position: relative;
	top: 130px;
}

.footer
{
	width: 100%;
	height: auto;
	background-color: #231f20;
	padding: 10px auto;
	color: #ffffff;
	margin: 0;
}

.footer div
{
	margin: auto;
	text-align: left;
}