body
{
    font-family: arial, verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    width: 100%;
}
@media (max-width: 767px) {
    body {
        /*font-family: serif;*/
        font-weight: bold;
    }
}

p
{
    font-size: 11pt;
}

.row
{
    margin-right: 0;
}

.pageTitleLine
{
    font-family: verdana, arial, sans-serif;
}

.pageTitleLine h1,h4
{
    font-weight: inherit;
}
.pageTitleLine h4
{
    font-size: 15pt;
}

a
{
    margin: 3px 3px 3px 3px;
}

.left
{
    text-align: left;
    text-indent: 15px;
}

.forScroll
{
    overflow: auto;
}

.table
{
    width: 100%;
    min-width: 50%;
}
.table:hover
{
    background-color: #ffffff;
}

.table tr:hover
{
    background-color: #f2d5c8;
    width:auto;
}

.table tr td
{
    width: auto;
    text-align: center;
}

.custom-container
{
    text-align: center;
    margin: 0 auto;
    width: 99%;
    max-width: 1180px;
}

.circle
{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: solid 4px #f56636;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    font-size: 48pt;
}
.circle.notMy
{
    border: solid 4px #cccccc;
}
.arrow
{
    display: inline-block;
    font-weight: 700;
    font-size: 48pt;
    vertical-align: top;
    color: #f56636;
}

.helpers
{
    display: inline-block;
    text-align: center;
    padding: 3px 3px 3px 3px;
    margin-top: 10px;
}

.helpers > button
{
    margin-top: 10px;
}

.listHeader
{
    text-align: left;
}

.headImg
{
    width: 43px;
    height: 43px;
    margin-bottom: 15px;
}

.list
{
    text-align: left;
    max-width: 100%;
}

.description
{
    text-align: left;
}

.buttonsBlock
{
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 3px;
    width: 100%;
    padding: 0 4px;
}

.buttonsBlock > div.btn-group
{
    height: auto !important;
    top: 2px;
}

.buttonsBlock > div.btn-group > ul.dropdown-menu
{
    right: -100%;
    left: initial;
}

.buttonsBlock button
{
    margin: 2px;
}

h3, h4
{
    margin: 8px;
}

.habit
{
    margin:auto;
}

.target
{
    max-width: 100%;
    border: 2px double #444444 ;
    border-top: none;
    border-bottom: 1px;
    border-radius: 30px/90px;
    border-radius: 5px;
    text-align: center;
    padding: 3px;
    margin: 3px;
}

.target > .row
{
    margin-right: 0;
}

.target.target0
{
    background-color: #ffffff;
}

.target.target1
{
    background-color: #f2d5c8;
}

.object
{
    text-align: left;
    width: 100%;
    display: inline-flex;
    align-items: stretch;
    border: solid 1px #ffffff;
}

.objectOwner
{
    display: block !important;
    font-size: 13pt;
}

.object:hover
{
    background-color: #f2d5c8;
    border-radius: 5px;
    /*color: #9c4620;*/
    border: solid 1px #f19d79;
}

.object > div
{
    margin: 3px 0;
    text-align: left;
    padding: 0 3px;
}

.objectContent
{
    width: 100%;
    vertical-align: middle;
}

.objectContent p
{
    width: 100%;
    overflow: hidden;
}

.objectContent p.right.date
{
    text-align: right;
}

.objectTime
{
    width: auto;
}

.imageLeft
{
    float:left;
    margin: 7px 7px 7px 0;
    max-width: 75px;
    max-height: 75px;
}

/*.schedule
{
    text-align: center;
    display: block;
    align-items: stretch;
    width: 100%;
}

.dayInSchedule
{
    /*width: calc(100%/7);*/
    /*width: auto;
    border: solid 1px #888888;
    height: auto;
}

.dayInSchedule .header
{
    position: relative;
    vertical-align: middle;
    padding: 2px;
    margin: 0 8px;
    margin-top: 2px;
    height: 30px;
    background-color: #ffda9e;
    background: -moz-linear-gradient(top, #ffda9e, #fcc562);
    background: -webkit-linear-gradient(top, #ffda9e, #fcc562);
    background: -o-linear-gradient(top, #ffda9e, #fcc562);
    background: linear-gradient(top, #ffda9e, #fcc562);
    font-size: 15px;
    -webkit-box-shadow:-2px 3px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:-2px 3px 3px rgba(0, 0, 0, 0.7);
    box-shadow:-2px 3px 3px rgba(0, 0, 0, 0.7);
}*/

.done
{
    text-decoration: line-through;
}

.notDecoration
{
    text-decoration: none !important;
}

.notHover:hover
{
    background-color: initial !important;
    color: initial !important
}

.helper
{
    margin: auto;
    margin-top: 2px;
    padding: 3px;
    width: auto;
    max-width: 240px;
    position: relative;
}

.helperMenu
{
    margin-top: 12px;
}

.helperMenu table
{
    border: solid 2px #f56636;
}

.hHeader
{
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 1px solid #f56636;
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
}

.helper .helperIcon
{
    position: relative;
    width: 20px;
    height: 20px;

}

.helper.reminder .helperIcon
{
    background: url("../img/design/uved-orange-min.png");
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
}

.helper.performance .helperIcon
{
    background: url("../img/design/progr-orange-min.png");
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
}
.helper.hTarget .helperIcon
{
    background: url("../img/design/cel-orange-min.png");
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
}
.helper.phrases .helperIcon
{
    background: url("../img/design/misl-orange-min.png");
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
}

.hHeader.reminder:not(.active)
{
    background: url("../img/design/uved-orange-min.png");
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
}

.hHeader.performance:not(.active)
{
    background: url("../img/design/progr-orange-min.png");
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
}

.hHeader.hTarget:not(.active)
{
    background: url("../img/design/cel-orange-min.png");
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
}

.hHeader.phrase:not(.active)
{
    background: url("../img/design/misl-orange-min.png");
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
}

.hHeader.reminder.active
{
    background: url("../img/design/uved-white-min.png");
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f56636;
}

.hHeader.performance.active
{
    background: url("../img/design/progr-white-min.png");
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f56636;
}

.hHeader.hTarget.active
{
    background: url("../img/design/cel-white-min.png");
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f56636;
}

.hHeader.phrase.active
{
    background: url("../img/design/misl-white-min.png");
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f56636;
}

.hContent
{
    position: relative;
    min-height: 0;
    display:none;
    padding: 10px;
    font-size: 14px;
    border: solid 2px #f56636;
    border-radius: 10px;
}

.hContent.block
{
    display: block;
}

.hContent .phrase
{
    font-weight: bold;
    font-style: italic;
}

.hContent .author, .date
{
    font-style: italic;
    text-align: right;
}

.elementProgress
{
    width: 100%;
}

.elementProgress td:first-child
{
    width: 25%;
}

.attention
{
    color: #c9302c;
}

.open-close
{
    display: none;
}

.showMoreInfo
{
    font-weight: 300;
    text-decoration: underline;
    cursor: hand;
}

.btn-custom
{
    background-color: #f56636;
    margin-left: 40px;
}

.articleInList
{
    text-align: center !important;
}

.articleInList img
{
    width: auto;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.article p
{
    text-indent: 15px;
}

.article img
{
    float: left;
    width: 200px;
    margin: 7px;
    margin-right: 15px;
}

.article img:first-child
{
    width: 350px;
}


.partner p > img
{
    float: left;
    width: 150px;
    margin: 7px;
    margin-right: 15px;
}

.article p > span.epigraph
{
    text-align: right;
    display: block;
}

@media(max-width: 767px)
{
    .article p > img
    {
        width: 100%;
    }
}

.logo
{
    background: url("../img/design/logo-min.png");
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
}
.mainLogo
{
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
}

.ui-dialog
{
    background-color: #ffffff;
    border: 2px #888888 solid;
    border-radius: 5px;
}

.ui-dialog-titlebar
{
    background: #ffffff;
}

#dialog-form
{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

/* BLOCK for Social Webs */
.oauth,
.oauth > div
{
    width: 25px;
    height: 25px;
    display: inline-block;
}

.oauth > div.vkontakte
{
    background: url("../img/icons/vk-min.png");
    background-size: 25px auto;
}

.oauth > div.google
{
    background: url("../img/icons/google-min.png");
    background-size: 25px auto;
}

.oauth > div.twitter
{
    background: url("../img/icons/twitter-min.png");
    background-size: 25px auto;
}

.oauth > div.yandex
{
    background: url("../img/icons/yandex-min.png");
    background-size: 25px auto;
}

.oauth > div.facebook
{
    background: url("../img/icons/facebook-min.png");
    background-size: 25px auto;
}

.oauth > div.ok
{
    background: url("../img/icons/ok-min.png");
    background-size: 25px auto;
}
/* ENDBLOCK */

form.user_form > div,
form.hwi_oauth_registration_register > div
{
    width: auto;
    display: table-row;
}

form.user_form > div > div,
form.hwi_oauth_registration_register > div > div
{
    margin: auto;
    display: table-row;
}

form.user_form div,
form.hwi_oauth_registration_register div
{
    text-align: right;
}
form.user_form div.center,
#fos_user_change_password_form
{
    text-align: center;
}

.user_form.fos_user_registration_register, .hwi_oauth_registration_register
{
    width: auto;
    margin: auto;
    display: table;
}

.regixtrationProfileImage
{
    width: 300px;
}

form button
{
    margin: 5px;
    margin-top: -1px;
}

.form_button
{
    margin-top: -3px;
}

.user-list
{
    width: 90%;
    height: auto;
    max-height: 300px;
    overflow: auto;
}
.user-list ul li
{
    text-overflow: ellipsis;
}

.vich-image img
{
    max-width: 200px;
}

/* BLOCK Images */
/* Load animation */
.load
{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
    vertical-align: middle;
    display: none;
}
.load img
{
    width: 50px;
    height: 50px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
/* Images for menu items */
.navbar-collapse
{
    padding-left: 0;
    padding-right: 0;
}

.navbar-toggle .icon-bar
{
    background-color: #aaaaaa;
}

#menu-navigation .icon-class
{
    display: none;
}
#menu-navigation .displayed
{
    width: auto;
    height: auto;
}
#menu-navigation .displayed .icon-class
{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: -10px;
}
#menu-navigation li:not(.active) .displayed .icon-class
{
    filter: invert(100%);
}
/* ENDBLOCK */

/* BLOCK Content Styles */
.content
{
    max-width: 1240px;
    text-align: center;
    padding: 3px;
}
.filter form
{
    width: auto !important;
    margin: auto auto;
    position: relative;
    text-align: center;
}
.filter form div
{
    text-align: right;
}
.filter form div div ul li
{
    color: #c9302c;
    text-align: center;
}
/* ENDBLOCK */

/* BLOCK EveryDay */
.nomargin
{
    margin: 0 !important;
}
@media (min-width: 768px) {
    .notFullBorder-left
    {
        left: -1px;
        border-left: dotted 2px #f56636;

    }
    .notFullBorder-right
    {
        right: -1px;
        border-right: dotted 2px #f56636;
    }
    .reminders_today
    {
        border: solid 4px #f56636;
        border-radius: 12px;
        width: 60%;
        margin: 0 auto;
        margin-top: 10px;
        padding: 5px;
    }
}
@media (max-width: 767px) {
    .notFullBorder-right
    {
        border-bottom: dotted 4px #f56636;
    }
    .reminders_today
    {
        border: solid 4px #f56636;
        border-radius: 12px;
        width: 95%;
        margin: 0 auto;
    }
}

/* ENDBLOCK */

/* BLOCK Calendar */
/* Calendar main */
.cal
{
    border: solid 2px #231f20;
    border-radius: 10px;
    overflow: hidden;
    max-width: 220px;
}

.calendar {
    width: 100%;
    max-width: 220px;
    background-color: #ffffff;
    color: #111111;
    padding: 5px;
}

.selectMonth
{
    background: #231f20;
    color: #ffffff;
}

.selectMonth .choiсeMonth:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
    cursor: pointer;
}

.choiсeMonth.left::before {
    content: ' ';
    position: absolute;
    right: 5px; top: 25%; bottom: 35%;
    border: 5px solid transparent;
    border-right: 5px solid #ffffff;
}

.choiсeMonth.right,
.choiсeMonth.left
{
    position: relative;
    padding: 15px 0;
    display: block;
}
.choiсeMonth.right::before {
    content: ' ';
    position: absolute;
    left: 5px; top: 25%; bottom: 35%;
    border: 5px solid transparent;
    border-left: 5px solid #ffffff;
}

.calWeek {
    width: 100%;
    padding: 0;
}

.calCell, .dayCell {

    width: calc(100% / 7);
    padding: 4px 0;
}

.calCell a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #222222;
    margin: 0;
    display: block;
}

.calCell:hover {
    opacity: 1;
}

.calCell a:hover {
    color: #f56636;
    background-color: #FFFFFF;
}

.emptyDay, .emptyDay:hover {
    border: 0;
    background-color: #ffffff;
}

.calCell.today {
    background-color: #f56636;
}
.calCell.today a:hover
{
    background-color: #f56636;
    color: #ffffff;
}

.showDay {
    border: solid 2px #f56636;
}
.calCell.today.notHover
{
    background-color: #f56636 !important;
}
.calCell.today.notHover a:hover {
    background-color: initial !important;
    color: #231f20 !important;
}
/* Calendar-Hit */
.calHit
{
    width: 100%;
    margin: 5px 0;
    overflow: auto;
}
.calHit table:not(.table)
{
    width: auto;
    margin: 0 auto;
    border: solid 1px #cccccc;
}
.calHit table:not(.table) tr td
{
    width: auto;
    padding: 4px;
    border: solid 1px #cccccc;
}
.calHit table tr td.today
{
    background-color: #f56636;
}
.calHit table tr td.oldMonth
{
    text-decoration: line-through;
}
.calHit table tr td.old
{
    position: relative;
}
.calHit table tr td.old::before
{
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 100%;
    height: 16px;
    border-bottom: 2px solid red;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
.calHit table tr td.old::after
{
    content: '';
    position: absolute;
    top: 2px;
    right: 5px;
    width: 100%;
    height: 16px;
    border-bottom: 2px solid red;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
/* ENDBLOCK */

/* BLOCK Menu */
.navbar.navbar-custom
{
    width: 100%;
    background-color: #231f20;
    border-radius: 0;
    border: 0;
    z-index: 5;
    border-bottom: solid 5px #f56636;
}

.navbar.navbar-custom .container-fluid,
.navbar.navbar-custom .container-fluid #menu,
.navbar.navbar-custom .container-fluid #menu ul
{height: inherit !important}

.nav.navbar-nav > li
{
    background-color: #231f20;
    color: #ffffff;
    /*min-width: 100px;*/
    height: auto;
    text-align: center;
    width: auto;
}

.nav.navbar-nav > li.active
{
    background-color: #ffffff;
}

.nav.navbar-nav > li.active > a
{
    background-color: #ffffff;
    color: #231f20;
}

.nav.navbar-nav > li > a
{
    background-color: #231f20;
    color: #ffffff;
    height: auto;
    font-size: 13pt;
    vertical-align: middle;
    margin: 0;
    padding: 15px 20px;
    width: 100%;
}

.nav.navbar-nav > li > a:hover,
.nav.navbar-nav > li > a:focus
{
    background-color: #231f20 !important;
    color: inherit !important;
}

.nav.navbar-nav > li.active > a:hover,
.nav.navbar-nav > li.active > a:focus
{
    background-color: inherit !important;
    color: initial !important;
}

ul.dropdown-custom
{
    background-color: #231f20;
    padding: 0;
    margin: 0;
    border: solid 2px #231f20;
    border-top: 0;
    height: auto;
    width: auto;
    min-width: 100%;
}

ul.dropdown-custom:last-child
{
    right:0; left: initial;
}

ul.dropdown-custom li
{
    height: auto;
    width: 100%;
    border-bottom: solid 1px #ffffff;
    z-index: 10;
    position: relative;
}
ul.dropdown-custom li a,
ul.dropdown-custom li.active a
{
    padding: 5px 7px 5px 20px;
    width: 100%;
    display: inline-block;
    font-size: 13pt;
    margin: 0;
    color: #ffffff;
    background-color: #231f20;
}

ul.dropdown-custom li a:hover,
ul.dropdown-custom li.active a:hover,
ul.dropdown-custom li a:focus
{
    background-color: #231f20;
    color: #ffffff;
}
ul.dropdown-custom li.active::before {
    content: '';
    position: absolute;
    left: 5px; top: 25%; bottom: 35%;
    border: 7px solid transparent;
    border-left: 7px solid #ffffff;
}
@media (min-width: 768px) {
    #menu-navigation > ul
    {
        width: 100%;
    }

    .nav.navbar-nav > li
    {
        background-size: auto auto;
    }

    .nav.navbar-nav > li:last-child
    {
        float: right;
    }

    .nav.navbar-nav > li:not(.active):not(:last-child):not(:nth-last-child(2)) > a::after
    {
        content: '';
        position: absolute;
        right: -1px; top: 15%;
        border-right: solid 1px #ffffff;
        display: inline;
        height: 70%;
        z-index: 2;
    }
}

@media (max-width: 767px) {
    .nav.navbar-nav
    {
        width: 100%;
        margin: 0;
    }
    .nav.navbar-nav > li
    {
        background-size: 100% 40px !important;
        background-repeat: no-repeat !important;
        border-bottom: solid 2px #ffffff;
    }
    ul.dropdown-custom li a
    {
        text-align: center;
    }
}
/* ENDBLOCK */

/* Block Filters */
.filter
{
    width: 100%;
}
.filter form
{
    width: 100%;
}
.filter form > div,
.filter
{
    justify-content: center;
    align-items: center;
    display: inline-flex;
}
.filter hr
{
    width: 100%;
    height: 2px;
    color: #cccccc;
    background-color: #cccccc;
}
/* ENDBLOCK */

/*!* BLOCK Stickers *!*/
/*.stickers*/
/*{*/
    /*width: auto;*/
/*}*/

/*.sticker*/
/*{*/
    /*width: 210px;*/
    /*height: 210px;*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*margin: 20px;*/
/*}*/
/*.sticker .back*/
/*{*/
    /*z-index: -2;*/
    /*width: inherit;*/
    /*height: inherit;*/
    /*position: absolute;*/
    /*background-color: #ffc974;*/
    /*-webkit-box-shadow: -7px 7px 7px -3px rgba(50, 50, 50, 0.5);*/
    /*-moz-box-shadow:    -7px 7px 7px -3px rgba(50, 50, 50, 0.5);*/
    /*box-shadow:         -7px 7px 7px -3px rgba(50, 50, 50, 0.5);*/
/*}*/
/*.sticker .front*/
/*{*/
    /*width: inherit;*/
    /*height: inherit;*/
    /*position: absolute;*/
    /*background-color: #ffffff;*/
    /*text-align: left;*/
    /*padding: 3px;*/
/*}*/
/*.sticker .front p { text-indent: 1.7em; font-size: 11pt; position: relative; top: 2%; padding: 2%; margin-left: 20px; }*/
/*.sticker .front h4 { text-align: center; position: relative; font-weight: 700; top: 2%; left: -5px; }*/

/*.sticker .clip*/
/*{*/
    /*position: absolute;*/
    /*width: 25%;*/
    /*height: 25%;*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*.sticker .front::before,*/
/*.sticker .front::after,*/
/*.helper .hContent::before,*/
/*.helper .hContent::after{*/
    /*content:"";*/
    /*position:absolute;*/
    /*z-index: -1;*/
/*}*/
/*.sticker1 .front::before,*/
/*.sticker3 .front::before,*/
/*.helper .hContent::before*/
/*{*/
    /*bottom:0;*/
    /*left: 0;*/
    /*height:20%;*/
    /*width: 97%;*/
    /*-webkit-box-shadow:0 10px 10px rgba(0, 0, 0, 0.7);*/
    /*-moz-box-shadow:0 10px 10px rgba(0, 0, 0, 0.7);*/
    /*box-shadow:0 10px 10px rgba(0, 0, 0, 0.7);*/
    /*-webkit-transform:rotate(2deg);*/
    /*-moz-transform:rotate(2deg);*/
    /*-ms-transform:rotate(2deg);*/
    /*-o-transform:rotate(2deg);*/
    /*transform:rotate(2deg);*/
    /*transform-origin: 100% 100%;*/
/*}*/
/*.sticker1 .front:after,*/
/*.sticker3 .front:after,*/
/*.helper .hContent::after*/
/*{*/
    /*top:9%;*/
    /*left: 0;*/
    /*height:90%;*/
    /*width: 20%;*/
    /*-webkit-box-shadow:-7px 0 10px rgba(0, 0, 0, 0.7);*/
    /*-moz-box-shadow:-7px 0 10px rgba(0, 0, 0, 0.7);*/
    /*box-shadow:-7px 0 10px rgba(0, 0, 0, 0.7);*/
    /*-webkit-transform:rotate(3deg);*/
    /*-moz-transform:rotate(3deg);*/
    /*-ms-transform:rotate(3deg);*/
    /*-o-transform:rotate(3deg);*/
    /*transform:rotate(3deg);*/
    /*transform-origin: 0 100%;*/
/*}*/
/*.helper .hContent::before,*/
/*.helper .hContent::after*/
/*{*/
    /*left: 3px;*/
/*}*/
/*.sticker2 .front::before*/
/*{*/
    /*bottom:0;*/
    /*left: 0;*/
    /*height:90%;*/
    /*width: 96%;*/
    /*-webkit-box-shadow:0 10px 10px rgba(0, 0, 0, 0.7);*/
    /*-moz-box-shadow:0 10px 10px rgba(0, 0, 0, 0.7);*/
    /*box-shadow:0 10px 10px rgba(0, 0, 0, 0.7);*/
    /*-webkit-transform:rotate(2deg);*/
    /*-moz-transform:rotate(2deg);*/
    /*-ms-transform:rotate(2deg);*/
    /*-o-transform:rotate(2deg);*/
    /*transform:rotate(2deg);*/
    /*transform-origin: 100% 100%;*/
/*}*/

/*.sticker1 .front*/
/*{*/
    /*top: -1.5%;*/
    /*left: 7%;*/
/*}*/
/*.sticker1 .clip*/
/*{*/
    /*background-image: url("../img/design/clip1-min.png");*/
    /*top: -7%;*/
    /*left: 5%;*/
/*}*/

/*.sticker2 .back*/
/*{*/
    /*-moz-transform: rotate(3deg);*/
    /*-ms-transform: rotate(3deg);*/
    /*-webkit-transform: rotate(3deg);*/
    /*-o-transform: rotate(3deg);*/
    /*transform: rotate(3deg);*/
    /*transform-origin: 0 0;*/
/*}*/
/*.sticker2 .clip*/
/*{*/
    /*background-image: url("../img/design/clip2-min.png");*/
    /*top: -5.2%;*/
    /*left: 1.5%;*/
/*}*/

/*.sticker3 .back*/
/*{*/
    /*-moz-transform: rotate(-3deg);*/
    /*-ms-transform: rotate(-3deg);*/
    /*-webkit-transform: rotate(-3deg);*/
    /*-o-transform: rotate(-3deg);*/
    /*transform: rotate(-3deg);*/
    /*transform-origin: 50% 0;*/
/*}*/
/*.sticker3 .front*/
/*{*/
    /*left: 15px;*/
/*}*/
/*.sticker3 .clip*/
/*{*/
    /*background-image: url("../img/design/clip3-min.png");*/
    /*top: -3.7%;*/
    /*left: 5%;*/
/*}*/
/* ENDBLOCK */

/* BLOCK Buttons */
.add
{
    border:none;
    padding:0!important;
    background-image: url("../img/icons/Add-min.png");
    width: 25px;
    height: 25px;
    background-size: 25px auto;
}

.edit
{
    border:none;
    padding:0!important;
    background-image: url("../img/icons/Edit-min.png");
    width: 25px;
    height: 25px;
    background-size: 25px auto;
}

.toDiary
{
    border:none;
    padding:0!important;
    background-image: url("../img/icons/ToDiary-min.png");
    width: 25px;
    height: 25px;
    background-size: 25px auto;
}

.statistic
{
    border:none;
    padding:2px!important;
    background-image: url("../img/icons/Statistic-min.png");
    width: 25px;
    height: 25px;
    background-size: 25px auto;
}

.delete, .delete-dd
{
    border:none;
    padding:0!important;
    background-image: url("../img/icons/Delete-min.png");
    width: 25px;
    height: 25px;
    background-size: 25px auto;
}

.print
{
    border:none;
    padding:0!important;
    background-image: url("../img/icons/Print-min.png");
    width: 25px;
    height: 25px;
    background-size: 25px auto;
}

.back_btn
{
    border:none;
    padding:0!important;
    background-image: url("../img/icons/Return-min.png");
    width: 25px;
    height: 25px;
    background-size: 25px auto;
    position: relative;
    left: 10px;
    margin-right: 20px;
}

.ui-dialog-titlebar-close
{
    border:none;
    padding:0!important;
    background-image: url("../img/icons/Close-min.png");
    width: 20px;
    height: 20px;
    background-size: 20px auto;
}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle
{
    background-color: #f56636;
}

.main-carousel
{
    max-width: 450px;
    height: auto;
    margin: 0 auto;
}

.main-carousel .item.active .carousel-caption
{
    background: rgba(80,80,80,.5);
    border-radius: 25px;
}

input[type='checkbox'].objectDone
{
    display: none;
}

input[type='checkbox'].objectDone + label
{
    background: url("../img/icons/Uncheck-min.png");
    background-size: 25px auto;
    height: 25px;
    width: 25px;
    display:inline-block;
    margin-bottom: 0;
}

input[type='checkbox']:checked.objectDone + label
{
    background: url("../img/icons/Check-min.png");
    background-size: 25px auto;
}

label
{
    margin-right: 10px;
}

select[disabled='disabled']
{
    opacity: 0.5;
}
/* ENDBLOCK */

.attainmentItem
{
    display: inline-block;
}

/* BLOCK Print */
@media print {
    .helpers,
    button.print
    {
        display:none;
    }
    .schedule .header
    {
        border-bottom: solid 1px #cccccc;
    }
}
/* ENDBLOCK */