body
{
    /*font-family: "Comic Sans MS", "Monaco CY", "Nimbus Mono L", cursive;*/
    font-weight: bold;
    font-style: oblique;
    letter-spacing: 0;
    background-image: url("../img/icons/fon.jpg");
    text-align: center;
    width: 100%;
}
@media (max-width: 767px) {
    body {
        /*font-family: serif;*/
        font-weight: bold;
        font-style: oblique;
    }
}

p
{
    font-size: 11pt;
}

.pageTitleLine h1,h4
{
    font-weight: inherit;
}
.pageTitleLine h4
{
    font-size: 15pt;
}

a
{
    margin: 3px 3px 3px 3px;
}

.left
{
    text-align: left;
    text-indent: 15px;
}

.table
{
    max-width: 95%;
    width:auto;
    min-width: 50%;
}
.table:hover
{
    background-color: #ffffff;
}

.table tr:hover
{
    background-color: #FFD38F   ;
    width:auto;
}

.table tr td
{
    width: auto;
    text-align: center;
}

.custom-container
{
    text-align: center;
    margin: 0 auto;
    width: 99%;
    max-width: 1180px;
}

.helpers
{
    display: inline-block;
    text-align: center;
    padding: 3px 3px 3px 3px;
    margin-top: 10px;
}

.helpers > button
{
    margin-top: 10px;
}

.listHeader
{
    text-align: left;
}

.list
{
    text-align: left;
    max-width: 100%;
}

.description
{
    text-align: left;
}

.buttonsBlock
{
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 3px;
}

.buttonsBlock > div.btn-group
{
    height: auto !important;
    top: 2px;
}

.buttonsBlock > div.btn-group > ul.dropdown-menu
{
    right: -100%;
    left: initial;
}

.buttonsBlock button
{
    margin: 2px;
}

h3, h4
{
    margin: 8px;
}

.habit
{
    margin:auto;
}

.target
{
    max-width: 100%;
    border: 2px double #444444 ;
    border-top: none;
    border-bottom: 1px;
    border-radius: 30px/90px;
    border-radius: 5px;
    text-align: center;
    padding: 3px;
    margin: 3px;
}

.target.target0
{
    background-color: #ffffff;
}

.target.target1
{
    background-color: #FFD38F;
}

.object
{
    text-align: left;
    width: 100%;
    display: inline-flex;
    align-items: stretch;
}

.objectOwner
{
    display: block !important;
    font-size: 13pt;
}

.object:hover
{
    background-color: #FFD38F;
    border-radius: 5px;
}

.object > div
{
    margin: 3px 0;
    text-align: left;
    padding: 0 3px;
}

.objectContent
{
    width: 100%;
    vertical-align: middle;
}

.objectContent p
{
    width: 100%;
    overflow: hidden;
}

.objectContent p.right.date
{
    text-align: right;
}

.objectTime
{
    width: auto;
}

.imageLeft
{
    float:left;
    margin: 7px 7px 7px 0;
    max-width: 75px;
    max-height: 75px;
}

.schedule
{
    text-align: center;
    display: block;
    align-items: stretch;
    width: 100%;
}

.dayInSchedule
{
    /*width: calc(100%/7);*/
    width: auto;
    border: solid 1px #888888;
    height: auto;
}

.dayInSchedule .header
{
    position: relative;
    vertical-align: middle;
    padding: 2px;
    margin: 0 8px;
    margin-top: 2px;
    height: 30px;
    background-color: #ffda9e;
    background: -moz-linear-gradient(top, #ffda9e, #fcc562);
    background: -webkit-linear-gradient(top, #ffda9e, #fcc562);
    background: -o-linear-gradient(top, #ffda9e, #fcc562);
    background: linear-gradient(top, #ffda9e, #fcc562);
    font-size: 15px;
    -webkit-box-shadow:-2px 3px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:-2px 3px 3px rgba(0, 0, 0, 0.7);
    box-shadow:-2px 3px 3px rgba(0, 0, 0, 0.7);
}

.done
{
    text-decoration: line-through;
}

.notDecoration
{
    text-decoration: none !important;
}

.notHover:hover
{
    background-color: initial !important;
}

.helper
{
    margin: auto;
    margin-top: 8px;
    padding: 3px;
    width: auto;
    max-width: 240px;
    background-color: #fafafa;
}

.hHeader
{
    position: relative;
    vertical-align: middle;
    padding: 2px;
    margin-top: 2px;
    height: 30px;
    background-color: #ffda9e;
    background: -moz-linear-gradient(top, #ffda9e, #fcc562);
    background: -webkit-linear-gradient(top, #ffda9e, #fcc562);
    background: -o-linear-gradient(top, #ffda9e, #fcc562);
    background: linear-gradient(top, #ffda9e, #fcc562);
    font-size: 15px;
    -webkit-box-shadow:-2px 3px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:-2px 3px 3px rgba(0, 0, 0, 0.7);
    box-shadow:-2px 3px 3px rgba(0, 0, 0, 0.7);
}

.hHeader p
{
    line-height: 25px;
}

.hContent
{
    position: relative;
    min-height: 0;
    display:none;
    padding: 10px;
    font-size: 14px;
}

.hContent.block
{
    display: block;
}

.hContent .phrase
{
    font-weight: bold;
    font-style: italic;
}

.hContent .author, .date
{
    font-style: italic;
    text-align: right;
}

.attention
{
    color: #c9302c;
}

.open-close
{
    display: none;
}

.showMoreInfo
{
    font-weight: 300;
    text-decoration: underline;
    cursor: hand;
}

.article p
{
    text-indent: 15px;
}

.article img
{
    float: left;
    width: 200px;
    margin: 7px;
    margin-right: 15px;
}

.article img:first-child
{
    width: 350px;
}


.partner p > img
{
    float: left;
    width: 150px;
    margin: 7px;
    margin-right: 15px;
}

.article p > span.epigraph
{
    text-align: right;
    display: block;
}

@media(max-width: 767px)
{
    .article p > img
    {
        width: 100%;
    }
}

.logo, .mainLogo
{
    background: url("../img/design/logo-min.png");
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
}
.mainLogo
{
    width: 30px;
    height: 30px;
    display: inline-block;
}

.ui-dialog
{
    background-color: #ffffff;
    border: 2px #888888 solid;
    border-radius: 5px;
}

.ui-dialog-titlebar
{
    background: #fafafa;
}

#dialog-form
{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

/* BLOCK for Social Webs */
.oauth,
.oauth > div
{
    width: 25px;
    height: 25px;
    display: inline-block;
}

.oauth > div.vkontakte
{
    background: url("../img/icons/vk-min.png");
    background-size: 25px auto;
}

.oauth > div.google
{
    background: url("../img/icons/google-min.png");
    background-size: 25px auto;
}

.oauth > div.twitter
{
    background: url("../img/icons/twitter-min.png");
    background-size: 25px auto;
}

.oauth > div.yandex
{
    background: url("../img/icons/yandex-min.png");
    background-size: 25px auto;
}

.oauth > div.facebook
{
    background: url("../img/icons/facebook-min.png");
    background-size: 25px auto;
}

.oauth > div.ok
{
    background: url("../img/icons/ok-min.png");
    background-size: 25px auto;
}
/* ENDBLOCK */

form.user_form > div,
form.hwi_oauth_registration_register > div
{
    width: auto;
    display: table-row;
}

form.user_form > div > div,
form.hwi_oauth_registration_register > div > div
{
    margin: auto;
    display: table-row;
}

form.user_form div,
form.hwi_oauth_registration_register div
{
    text-align: right;
}
form.user_form div.center,
#fos_user_change_password_form
{
    text-align: center;
}

.user_form.fos_user_registration_register, .hwi_oauth_registration_register
{
    width: auto;
    margin: auto;
    display: table;
}

.regixtrationProfileImage
{
    width: 300px;
}

form button
{
    margin: 5px;
    margin-top: -1px;
}

.form_button
{
    margin-top: -3px;
}

.user-list
{
    width: 90%;
    height: auto;
    max-height: 300px;
    overflow: auto;
}
.user-list ul li
{
    text-overflow: ellipsis;
}

.vich-image img
{
    max-width: 200px;
}

/* BLOCK Images */
/* Load animation */
.load
{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
    vertical-align: middle;
    display: none;
}
.load img
{
    width: 50px;
    height: 50px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
/* Images for menu items */
.navbar-collapse
{
    padding-left: 0;
    padding-right: 0;
}

#menu-navigation .icon-class
{
    display: none;
}
#menu-navigation .displayed .icon-class
{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: -10px;
    margin-right: 0;
}
/* ENDBLOCK */

/* BLOCK Content Styles */
.content
{
    max-width: 1240px;
    text-align: center;
    padding: 3px;
}
.notebook1,
.notebook2,
.tablet,
.sheetStyle
{
    margin-top: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    background-color: #FAFAFA;
    display: block;
    -webkit-box-shadow: -7px 7px 7px -3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -7px 7px 7px -3px rgba(50, 50, 50, 0.5);
    box-shadow:         -7px 7px 7px -3px rgba(50, 50, 50, 0.5);
    height: auto;
}
/* Notebook1 */
.notebook1::before
{
    content: '';
    width: 100%;
    height: 20px;
    display: block;
    top: -20px;
    left: 0;
    position: absolute;
    background-color: #FFFFFF;
    background: -moz-linear-gradient(bottom, #A8AEB5, #EBEEF3, #FFFFFF);
    background: -webkit-linear-gradient(bottom, #A8AEB5, #EBEEF3, #FFFFFF);
    background: -o-linear-gradient(bottom, #A8AEB5, #EBEEF3, #FFFFFF);
    background: linear-gradient(bottom,#A8AEB5, #EBEEF3, #FFFFFF);
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
}
/* Notebook2 */
.notebook2
{
    margin-top: 50px;
    padding-top: 40px;
}
.notebook2::before
{
    content: '';
    width: 100%;
    height: 50px;
    display: block;
    top: -30px;
    left: 0;
    position: absolute;
    border-radius: 10px 10px 0 0;
    margin-bottom: 5px;
    background: url("../img/design/Notebook-min.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
/* Tablet */
.tablet
{
    margin-top: 20px;
    padding-top: 30px;
    border: 15px solid;
    border-top: 35px solid;
    border-color: #293542;
    border-radius: 15px;
}
.tablet::before
{
    content: '';
    width: 30%;
    height: 60px;
    display: block;
    top: -25px;
    left: 0; right: 0;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px 10px 0 0;
    margin-bottom: 5px;
    background: url("../img/design/Zajim-min.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.tablet form
{
    width: auto !important;
    display: table;
    margin: auto auto;
    position: relative;
    text-align: center;
}
.tablet form div
{
    text-align: right;
}
.tablet form div div ul li
{
    color: #c9302c;
    text-align: center;
}
/* SheetStyle */
.sheetStyle
{
    margin-top: 18px;
}
.sheetStyle .pageHeader
{
    position: relative;
    vertical-align: middle;
    padding: 8px 16px;
    margin: 0 8px;
    margin-top: 2px;
    margin-bottom: 15px;
    height: auto;
    width: auto;
    display: inline-block;
    background-color: #ffda9e;
    background: -moz-linear-gradient(top, #ffda9e, #fcc562);
    background: -webkit-linear-gradient(top, #ffda9e, #fcc562);
    background: -o-linear-gradient(top, #ffda9e, #fcc562);
    background: linear-gradient(top, #ffda9e, #fcc562);
    -webkit-box-shadow:-2px 3px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:-2px 3px 3px rgba(0, 0, 0, 0.7);
    box-shadow:-2px 3px 3px rgba(0, 0, 0, 0.7);
    text-align: left;
}
/* ENDBLOCK */

/* BLOCK EveryDay */
.nomargin
{
    margin: 0 !important;
}
@media (min-width: 768px) {
    .everyday
    {
        border-bottom: dashed 2px #2A3644;
    }
    .notFullBorder-left
    {
        left: -1px;
        border-left: dashed 2px #2A3644;

    }
    .notFullBorder-right
    {
        right: -1px;
        border-right: dashed 2px #2A3644;
    }
}
@media (max-width: 767px) {
    .notFullBorder-left,
    .notFullBorder-right
    {
        border-bottom: dashed 2px #2A3644;
    }
}
/* ENDBLOCK */

/* BLOCK Calendar */
/* Calendar main */
.cal .hHeader
{
    margin: -3px;
    background-color: #394854;
    background: -moz-linear-gradient(top, #394854, #1f2937);
    background: -webkit-linear-gradient(top, #394854, #1f2937);
    background: -o-linear-gradient(top, #394854, #1f2937);
    background: linear-gradient(top, #394854, #1f2937);
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    box-shadow:none;
}

.cal .hHeader p {
    color: #fafafa;
}

.calendar {
    width: 100%;
    max-width: 220px;
    background-color: #fafafa;
    color: #111111;
}

.selectMonth .choiсeMonth:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
    cursor: pointer;
}

.choiсeMonth.left {
    background: url("../img/design/left-min.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.choiсeMonth.right {
    background: url("../img/design/right-min.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.calWeek {
    width: 100%;
    padding: 0;
}

.calCell, .dayCell {

    width: calc(100% / 7);
    padding: 0;
}

.calCell a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #222222;
    margin: 0;
    display: block;
}

.calCell:hover {
    opacity: 1;
}

.calCell a:hover {
    color: #fec874;
    background-color: #fafafa;
}

.emptyDay, .emptyDay:hover {
    border: 0;
    background-color: #fafafa;
}

.calCell.today {
    background-color: #fec874;
}

.showDay {
    border: solid 2px #fec874;
}

.calCell.today.notHover a:hover {
    background-color: #fec874 !important;
    color: #222222 !important;
}
/* Calendar-Hit */
.calHit
{
    width: 100%;
    margin: 5px 0;
    overflow: auto;
}
.calHit table
{
    width: auto;
    margin: 0 auto;
    border: solid 1px #cccccc;
}
.calHit table tr td
{
    width: auto;
    padding: 4px;
    border: solid 1px #cccccc;
}
.calHit table tr td.today
{
    background-color: #fec874;
}
.calHit table tr td.oldMonth
{
    text-decoration: line-through;
}
.calHit table tr td.old
{
    position: relative;
}
.calHit table tr td.old::before
{
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 100%;
    height: 16px;
    border-bottom: 2px solid red;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
.calHit table tr td.old::after
{
    content: '';
    position: absolute;
    top: 2px;
    right: 5px;
    width: 100%;
    height: 16px;
    border-bottom: 2px solid red;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
/* ENDBLOCK */

/* BLOCK Menu */
.navbar.navbar-custom
{
    background-color: #545e68;
    border-radius: 0;
    height: auto;
    z-index: 5;
}

.navbar.navbar-custom .container-fluid,
.navbar.navbar-custom .container-fluid #menu,
.navbar.navbar-custom .container-fluid #menu ul
{height: inherit !important}

.navbar-toggle .icon-bar
{
    background-color: #ffffff;
}

.nav.navbar-nav > li
{
    background-color: #ffda9e;
    background: -moz-linear-gradient(top, #ffda9e, #fcc562);
    background: -webkit-linear-gradient(top, #ffda9e, #fcc562);
    background: -o-linear-gradient(top, #ffda9e, #fcc562);
    background: linear-gradient(top, #ffda9e, #fcc562);
    background-repeat: repeat-x;
    border-top-left-radius: 8px;
    min-width: 100px;
    /*height: 49px !important;*/
    height: auto;
    padding-right: 5px;
    text-align: center;
}
.nav.navbar-nav > li::before
{
    content: '';
    position: absolute;
    width: 27px;
    height: 100%;
    right: 0;
    top: 0;
    border-left: 27px solid transparent;
}
.nav.navbar-nav > li.active
{
    background-color: #f8f8f8;
    background: -moz-linear-gradient(top, #f8f8f8, #ffffff);
    background: -webkit-linear-gradient(top, #f8f8f8, #ffffff);
    background: -o-linear-gradient(top, #f8f8f8, #ffffff);
    background: linear-gradient(top,#f8f8f8, #ffffff);
}
.nav.navbar-nav > li a
{
    height: inherit;
    color: #000000;
    padding: auto 0;
    font-size: 13pt;
    padding-right: 27px !important;
    vertical-align: middle;
}
.nav.navbar-nav li a:hover,
.nav.navbar-nav li a:focus,
.nav.navbar-nav li a
{
    background-color: initial !important;
    color: initial !important;
}

ul.dropdown-custom
{
    background: none !important;
    padding: 0;
    margin: 0;
    border:0;
    height: auto;
    width: 1px;
}
ul.dropdown-custom li
{
    height: 40px;
    width: 90%;
    min-width: 210px;
    margin: 2px 0;
    position: relative !important;
    background-color: #ffda9e;
    background: -moz-linear-gradient(left, #fcc562, #ffda9e);
    background: -webkit-linear-gradient(left, #fcc562, #ffda9e);
    background: -o-linear-gradient(left,  #fcc562, #ffda9e);
    background: linear-gradient(left, #fcc562, #ffda9e);
    border-bottom-left-radius: 5px;
    box-shadow: -4px 7px 7px rgba(0,0,0, .5);
    z-index: 10;
}
ul.dropdown-custom li a
{
    padding-right: 10px !important;
    position: relative;
    padding-top: 7px;
    width: 100%;
    display: inline-block;
}
ul.dropdown-custom li::after {
    content: '';
    position: absolute;
    right: 1px; top:0;
    margin-right: -40px;
    border: 20px solid transparent;
    border-left: 20px solid #ffda9e;
    z-index: -1;
}
ul.dropdown-custom li.active a::before {
    content: "\2714";
    position: absolute;
    left: 0;
}
@media (min-width: 768px) {
    .nav.navbar-nav > li
    {
        background-size: auto auto;
    }
    .nav.navbar-nav > li::before
    {
        border-top: 56px solid #545e68;
    }
}

@media (max-width: 767px) {
    .nav.navbar-nav > li
    {
        background-size: 100% 40px !important;
        background-repeat: no-repeat !important;
    }
    .nav.navbar-nav > li::before
    {
        border-top: 46px solid #545e68;
    }
}
/* ENDBLOCK */

/* Block Filters */
.filter
{
    width: 100%;
}
.filter form
{
    width: 100%;
}
.filter form > div,
.filter
{
    justify-content: center;
    align-items: center;
    display: inline-flex;
}
.filter hr
{
    width: 100%;
    height: 2px;
    color: #cccccc;
    background-color: #cccccc;
}
/* ENDBLOCK */

/* BLOCK Stickers */
.stickers
{
    width: auto;
}

.sticker
{
    width: 210px;
    height: 210px;
    position: relative;
    display: inline-block;
    margin: 20px;
}
.sticker .back
{
    z-index: -2;
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: #ffc974;
    -webkit-box-shadow: -7px 7px 7px -3px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -7px 7px 7px -3px rgba(50, 50, 50, 0.5);
    box-shadow:         -7px 7px 7px -3px rgba(50, 50, 50, 0.5);
}
.sticker .front
{
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: #ffffff;
    text-align: left;
    padding: 3px;
}
.sticker .front p { text-indent: 1.7em; font-size: 11pt; position: relative; top: 2%; padding: 2%; margin-left: 20px; }
.sticker .front h4 { text-align: center; position: relative; font-weight: 700; top: 2%; left: -5px; }

.sticker .clip
{
    position: absolute;
    width: 25%;
    height: 25%;
    background-size: contain;
    background-repeat: no-repeat;
}

.sticker .front::before,
.sticker .front::after,
.helper .hContent::before,
.helper .hContent::after{
    content:"";
    position:absolute;
    z-index: -1;
}
.sticker1 .front::before,
.sticker3 .front::before,
.helper .hContent::before
{
    bottom:0;
    left: 0;
    height:20%;
    width: 97%;
    -webkit-box-shadow:0 10px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:0 10px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 10px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
    -ms-transform:rotate(2deg);
    -o-transform:rotate(2deg);
    transform:rotate(2deg);
    transform-origin: 100% 100%;
}
.sticker1 .front:after,
.sticker3 .front:after,
.helper .hContent::after
{
    top:9%;
    left: 0;
    height:90%;
    width: 20%;
    -webkit-box-shadow:-7px 0 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:-7px 0 10px rgba(0, 0, 0, 0.7);
    box-shadow:-7px 0 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
    transform-origin: 0 100%;
}
.helper .hContent::before,
.helper .hContent::after
{
    left: 3px;
}
.sticker2 .front::before
{
    bottom:0;
    left: 0;
    height:90%;
    width: 96%;
    -webkit-box-shadow:0 10px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:0 10px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 10px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
    -ms-transform:rotate(2deg);
    -o-transform:rotate(2deg);
    transform:rotate(2deg);
    transform-origin: 100% 100%;
}

.sticker1 .front
{
    top: -1.5%;
    left: 7%;
}
.sticker1 .clip
{
    background-image: url("../img/design/clip1-min.png");
    top: -7%;
    left: 5%;
}

.sticker2 .back
{
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
    transform-origin: 0 0;
}
.sticker2 .clip
{
    background-image: url("../img/design/clip2-min.png");
    top: -5.2%;
    left: 1.5%;
}

.sticker3 .back
{
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    transform-origin: 50% 0;
}
.sticker3 .front
{
    left: 15px;
}
.sticker3 .clip
{
    background-image: url("../img/design/clip3-min.png");
    top: -3.7%;
    left: 5%;
}
/* ENDBLOCK */

/* BLOCK Buttons */
.add
{
    border:none;
    padding:0!important;
    background-image: url("../img/icons/Add-min.png");
    width: 25px;
    height: 25px;
    background-size: 25px auto;
}

.edit
{
    border:none;
    padding:0!important;
    background-image: url("../img/icons/Edit-min.png");
    width: 25px;
    height: 25px;
    background-size: 25px auto;
}

.toDiary
{
    border:none;
    padding:0!important;
    background-image: url("../img/icons/ToDiary-min.png");
    width: 25px;
    height: 25px;
    background-size: 25px auto;
}

.statistic
{
    border:none;
    padding:2px!important;
    background-image: url("../img/icons/Statistic-min.png");
    width: 25px;
    height: 25px;
    background-size: 25px auto;
}

.delete, .delete-dd
{
    border:none;
    padding:0!important;
    background-image: url("../img/icons/Delete-min.png");
    width: 25px;
    height: 25px;
    background-size: 25px auto;
}

.print
{
    border:none;
    padding:0!important;
    background-image: url("../img/icons/Print-min.png");
    width: 25px;
    height: 25px;
    background-size: 25px auto;
}

.back_btn
{
    border:none;
    padding:0!important;
    background-image: url("../img/icons/Return-min.png");
    width: 25px;
    height: 25px;
    background-size: 25px auto;
}

.ui-dialog-titlebar-close
{
    border:none;
    padding:0!important;
    background-image: url("../img/icons/Close-min.png");
    width: 20px;
    height: 20px;
    background-size: 20px auto;
}

input[type='checkbox'].objectDone
{
    display: none;
}

input[type='checkbox'].objectDone + label
{
    background: url("../img/icons/Uncheck-min.png");
    background-size: 25px auto;
    height: 25px;
    width: 25px;
    display:inline-block;
    margin-bottom: 0;
}

input[type='checkbox']:checked.objectDone + label
{
    background: url("../img/icons/Check-min.png");
    background-size: 25px auto;
}

label
{
    margin-right: 10px;
}

select[disabled='disabled']
{
    opacity: 0.5;
}
/* ENDBLOCK */

/* BLOCK Print */
@media print {
    .helpers,
    button.print
    {
        display:none;
    }
    .schedule .header
    {
        border-bottom: solid 1px #cccccc;
    }
}
/* ENDBLOCK */