{% block content %}
    <h2>Добавить задачу в список</h2>
    <div class='form'>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}



