{% block content %}
    <h2>Редактировать задачу</h2>
    <div class='form'>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <a href="{{ path('listShow', {'id': listId}) }}" class='btn btn-default'>Назад</a>
    </div>
{% endblock %}