{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Список задач - YourTar.ru</title>
{% endblock %}

{% block content %}
    <div>
        <h3>
            <a href="{{ path('toDo') }}"><button class="back_btn" title="Назад"></button></a>
            <img src="/img/design/dela-orange-min.png" class="headImg"> Список дел:
        </h3>
        <div class="buttonsBlock">
                <button data-path="{{ path('addDoing', {'id': listId}) }}" data-type="doing" class="add" title="Добавить"></button>
        </div>
        <table class="elementProgress">
            <tr>
                <td><p>Эффективность:</p></td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress.done1 }}"
                             aria-valuemin="0" aria-valuemax="{{ progress.all1 }}"
                             style="width: {{ (progress.done1/progress.all1*100) }}%; min-width: 2em;">
                            {{ progress.done1 }}/{{ progress.all1 }}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class='list'>
            <ul>
                {% for doing in list %}
                    <div class="object">
                        <div class="objectCheck">
                            <input type="checkbox" class="objectDone" id="done{{ doing.id }}"
                                    {% if doing.done == 1 %} checked {% endif %}
                                   data="{{ path('checkDoing', {'id': doing.id}) }}">
                            <label for="done{{ doing.id }}"></label>
                        </div>
                        <div class="objectContent {% if doing.done == 1 %} done {% endif %}">{{ doing.name }}</div>
                        <div class="buttonsBlock">
                            <button data-path="{{ path('sync', {'id': doing.id, 'type': 'doing'}) }}"
                                    class="btn btn-default toDiary" title="В ежедневник"></button>
                            <button data-path="{{ path('editDoing', {'listId': listId,'id': doing.id}) }}" data-type="doing"
                                    class="edit" title="Редактировать"></button>
                            <button data="{{ path('delDoing', {'id': doing.id}) }}" class="delete" title="Удалить"></button>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



