{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Библиотека - YourTar.ru</title>
    {% if theme == 'all' %}
        <meta name="description" content="Библиотека проекта YourTar.ru. Здесь Вы найдёте всё, что нужно, чтобы стать успешнее">
        <meta name="keywords" content="библиотека, статья, статьи, Тайм-менеджмент, мотивация, информация, методики, инструменты, успех, эффективность, продуктивность, yourtar.ru, YourTar.ru">
    {% else %}
        <meta name="description" content="Библиотека проекта YourTar.ru. {{ theme.metaDescription }}">
        <meta name="keywords" content="библиотека, статья, статьи, Тайм-менеджмент, мотивация, информация, методики, инструменты, успех, эффективность, продуктивность, yourtar.ru, YourTar.ru {{ theme.metaKeywords }}">
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        {% if theme == 'all' %}
            {#{% if partner == false %}#}
            <h1><img src="/img/design/bibl-orange-min.png" class="headImg"> Наши статьи:</h1>
            {#{% else %}
                <h3>Статьи партнёров:</h3>
            {% endif %}#}
        {% else %}
            <h1><img src="/img/design/bibl-orange-min.png" class="headImg"> Статьи на тему "{{ theme.title }}":</h1>
        {% endif %}
        {#<div>
            <ul class="nav nav-tabs">
              <li role="presentation" {% if partner == false %}class="active"{% endif %}><a href="{{ path('articles') }}">Наши статьи</a></li>
              <li role="presentation"  {% if partner == true %}class="active"{% endif %}><a href="{{ path('PartnerArticlesList') }}">Статьи партнёров</a></li>
            </ul>
        </div>#}
        <div class="filter">
            <p>Тема: </p>
            {{ form_start(filter) }}
            <a class="btn btn-default form_button" href="{{ path('articles') }}">Очистить фильтр</a>
            {{ form_widget(filter) }}            
            {{ form_end(filter) }}
        </div>
        <div class='list'>
            {% set count = 0 %}
            {% for article in list %}
                {% if count == 0 %}
                    <div class="row">
                {% endif %}
                <div class="col-md-4">
                    <div class="object">
                        <div class="objectContent articleInList">
                            <a href="{{ path('showArticle', {'id': article.id}) }}">
                                <img src="/img/administrative/{{ article.imageName }}" alt="{{ article.title }}">
                                {{ article.title }} {% if is_granted('ROLE_USER') %}{% if article in app.user.articles.snapshot %}(Прочитано){% endif %}{% endif %}
                            </a>
                        </div>
                    </div>
                </div>
                {% if count == 2 %}
                    </div>
                {% endif %}
                {% if count != 2 %}
                    {% set count = count + 1 %}
                {% else %}
                    {% set count = 0 %}
                {% endif %}
            {% endfor %}
            {% if count != 0 %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}