{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Библиотека - YourTar.ru</title>
{% endblock %}

{% block content %}
    <div class="tablet">
        <div class="row">
            <div class="col-sm-12 listHeader">
                {% if partner == true %}
                    <h3>Статьи партнёров:</h3>
                {% else %}
                    <h3>Статьи от "{{ p.title }}":</h3>
                {% endif %}
            </div>
        </div>
        <div>
            <ul class="nav nav-tabs">
              <li role="presentation" {% if partner == false %}class="active"{% endif %}><a href="{{ path('articles') }}">Наши статьи</a></li>
              <li role="presentation"  {% if partner == true %}class="active"{% endif %}><a href="{{ path('PartnerArticlesList') }}">Статьи партнёров</a></li>
            </ul>
        </div>
        <div class="filter">
            <p>Тема: </p>
            {{ form_start(filter) }}
            <a class="btn btn-default form_button" href="{{ path('PartnerArticlesList') }}">Очистить фильтр</a>
            {{ form_widget(filter) }}            
            {{ form_end(filter) }}
        </div>
        <div class='list'>
            {% for article in list %}
                <div class="object">
                    <div class="objectContent">
                        <a href="{{ path('showArticle', {'id': article.id}) }}">{{ article.title }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}