{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>{{ article.title }} - YourTar.ru</title>
    <meta name="description" content="{{ article.metaDescription }}">
    <meta name="keywords" content="{{ article.metaKeywords }}">
{% endblock %}

{% block content %}
    <div>
        <h1>
            <a href="{{ path('articles') }}"><button class="back_btn" title="Назад"></button></a>
            <img src="/img/design/bibl-orange-min.png" class="headImg"> {{ article.title }}
        </h1>
        <div class="object notHover article">
            <div class="objectContent">
                <p>
                    {% if article.imageName != null %}
                        <img src="/img/administrative/{{ article.imageName }}">
                    {% endif %}
                    {{ article.content | raw }}
                </p>
                <p class="right date">{{ article.author }}&#160;</p>
                <p class="right date">{{ article.date.format('d.m.Y') }}&#160;</p>
            </div>
        </div>
    </div>
{% endblock %}