{% extends 'AppAdminBundle::layout/forms.html.twig' %}

{% block content %}
    <h2>Редактировать раздел статей:</h2><br>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <a class="btn btn-default" href="{{ path('aAThemesList') }}">Отмена</a>
    </div>
{% endblock %}