{% extends 'AppAdminBundle::layout/main.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h4>Разделы статей:</h4>
        </div>
        <div class="col-sm-6">
            <a href="{{ path('aAddArticleTheme') }}" class="btn btn-success">Добавить</a>
        </div>
    </div>
    {% if list|length > 0 %}
        <table class="table">
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Управление</th>
            </tr>
            {% for theme in list %}
                <tr>
                    <td>{{ theme.id }}</td>
                    <td>{{ theme.title }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Действия <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('aEditArticleTheme', {id: theme.id}) }}">Редактировать</a></li>
                                <li><a href="{{ path('aDelArticleTheme', {id: theme.id}) }}">Удалить</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p>Количество разделов: {{ list|length }}</p>
    {% else %}
        <p>Статей ещё нет! Добавьте первую статью!</p>
    {% endif %}
{% endblock %}