{% trans_default_domain 'FOSUserBundle' %}

<div class="sheetStyle">
    <div class="listHeader">
        <h3 class="pageHeader">Редактирование профиля:</h3>
    </div>
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div>
            <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">Отмена</a>
            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-default"/>
        </div>
    {{ form_end(form) }}
</div>
