{% trans_default_domain 'FOSUserBundle' %}

<div>
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <p>Ваши бонусы: {{ user.bonus }}</p>
        {% if (app.user.paidTo != null) and (app.user.paidTo|date('Y-m-d') >= date()|date('Y-m-d')) %}
            <p>У Вас Золотой аккаунт до {{ app.user.paidTo|date('d.m.Y') }}</p>
        {% else %}
            <p>У Вас Базовый аккаунт.</p>
        {% endif %}
        <hr>
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default">Изменить данные</a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('attainments') }}" class="btn btn-default">Достижения</a>
            </div>
            <div class="col-md-4">
                <a data-path="{{ path('invitationUser') }}" data-type="email"
                   class=" otherForm btn btn-default">Пригласить друга</a>
            </div>
        </div>
        <hr>
        <p>Чтобы привязать к аккаунту соцаильную сеть, требуется {% include 'parts/socWeb.html.twig' %}</p>
        <hr>
        <div class="calHit">
            <table class="table">
                <tr>
                    <td></td>
                    <td>Стандартный аккаунт:</td>
                    <td>Золотой аккаунт:</td>
                </tr>
                <tr>
                    <td>Количество целей одновременно</td>
                    <td>2</td>
                    <td>&#8734;</td>
                </tr>
                <tr>
                    <td>Количество уровней для декомпозиции цели</td>
                    <td>3</td>
                    <td>&#8734;</td>
                </tr>
                <tr>
                    <td>Количество привычек одновременно</td>
                    <td>1</td>
                    <td>&#8734;</td>
                </tr>
                <tr>
                    <td>Количество списков дел</td>
                    <td>2</td>
                    <td>&#8734;</td>
                </tr>
                <tr>
                    <td>Возможность возобновить цель</td>
                    <td>Нет</td>
                    <td>Да</td>
                </tr>
                <tr>
                    <td>Возможность возобновить привычку</td>
                    <td>Нет</td>
                    <td>Да</td>
                </tr>
            </table>
        </div>
        <div class="calHit">
            <h5>Внимание! Платежи обрабатываются в течении суток.</h5>
            <table class="table">
                <tr>
                    <td>Купить золотой аккаунт</td>
                    <td>1 месяц</td>
                    <td>6 месяцев</td>
                    <td>1 год</td>
                </tr>
                <tr>
                    <td><p>Купить</p></td>
                    <td>
                        <p>
                            Цена: 99 р<br><br>
                        </p>
                        <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/quickpay/button-widget?account=410015175880899&quickpay=small&any-card-payment-type=on&button-text=02&button-size=m&button-color=black&targets=%D0%9A%D1%83%D0%BF%D0%B8%D0%BB+%D0%B7%D0%BE%D0%BB%D0%BE%D1%82%D0%BE%D0%B9+%D0%BD%D0%B0+%D0%BC%D0%B5%D1%81%D1%8F%D1%86&default-sum=99&mail=on&successURL=http%3A%2F%2Fyourtar.ru%2Fprofile%2F" width="157" height="36"></iframe>
                    </td>
                    <td>
                        <p>
                            Цена: 550 р<br>
                            91,5 р/мес<br>
                        </p>
                        <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/quickpay/button-widget?account=410015175880899&quickpay=small&any-card-payment-type=on&button-text=02&button-size=m&button-color=black&targets=%D0%9A%D1%83%D0%BF%D0%B8%D0%BB+%D0%B7%D0%BE%D0%BB%D0%BE%D1%82%D0%BE%D0%B9+%D0%BD%D0%B0+6+%D0%BC%D0%B5%D1%81%D1%8F%D1%86%D0%B5%D0%B2&default-sum=550&mail=on&successURL=http%3A%2F%2Fyourtar.ru%2Fprofile%2F" width="157" height="36"></iframe>
                    </td>
                    <td>
                        <p>
                            Цена: 990 р<br>
                            82,5 р/мес<br>
                        </p>
                        <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/quickpay/button-widget?account=410015175880899&quickpay=small&any-card-payment-type=on&button-text=02&button-size=m&button-color=black&targets=%D0%9A%D1%83%D0%BF%D0%B8%D0%BB+%D0%B7%D0%BE%D0%BB%D0%BE%D1%82%D0%BE%D0%B9+%D0%BD%D0%B0+1+%D0%B3%D0%BE%D0%B4&default-sum=990&mail=on&successURL=http%3A%2F%2Fyourtar.ru%2Fprofile%2F" width="157" height="36"></iframe>
                    </td>
                </tr>
                <tr>
                    <td>Обменять бонусы</td>
                    <td>
                        <p>
                            Цена: 99 б<br><br>
                            {% if app.user.bonus >= 99 %}
                                <a href="{{ path('buyForBonuses', {'month': 1}) }}">Обменять на 1 месяц</a>
                            {% else %}
                                У вас недостаточно  бонусных очков
                            {% endif %}
                        </p>
                    </td>
                    <td>
                        <p>
                            Цена: 550 б<br>
                            91,5 б/мес<br>
                            {% if app.user.bonus >= 550 %}
                                <a href="{{ path('buyForBonuses', {'month': 6}) }}">Обменять на 6 месяцев</a>
                            {% else %}
                                У вас недостаточно бонусных очков
                            {% endif %}
                        </p>
                    </td>
                    <td>
                        <p>
                            Цена: 990 б<br>
                            82,5 б/мес<br>
                            {% if app.user.bonus >= 990 %}
                                <a href="{{ path('buyForBonuses', {'month': 12}) }}">Обменять на 1 год</a>
                            {% else %}
                                У вас недостаточно бонусных очков
                            {% endif %}
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
