{% extends 'AppAdminBundle::layout/main.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h4>Достижения:</h4>
        </div>
        <div class="col-sm-6">
            <a href="{{ path('aAddAttainment') }}" class="btn btn-success">Добавить</a>
        </div>
    </div>
    {% if list|length > 0 %}
        <table class="table">
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Тип</th>
                <th>Управление</th>
            </tr>
            {% for item in list %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.type }}</td>
                    <td>
                        <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Действия <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('aEditAttainment', {id: item.id}) }}">Редактировать</a></li>
                                    <li><a href="{{ path('aEditAttainmentParent', {id: item.id}) }}">Редактировать родителя</a></li>
                                    <li><a href="{{ path('aDelAttainmentParent', {id: item.id}) }}">Удалить родителя</a></li>
                                    <li><a href="{{ path('aDelAttainment', {id: item.id}) }}">Удалить</a></li>
                                </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p>Количество достижений: {{ list|length }}</p>
    {% else %}
        <p>Достижений ещё нет! Добавьте первое достижение!</p>
    {% endif %}
{% endblock %}