{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Ежедневник- YourTar.ru</title>
{% endblock %}

{% block content %}
    <div>
        <h3><img src="/img/design/calend-orange-min.png" class="headImg"> Задачи на {{ date|date('d.m.Y') }}: </h3>
        <div class="buttonsBlock">
            <button class="btn btn-default print" data="content"></button>
            <button data-path="{{ path('addTask', {'date': date|date('Y-m-d')}) }}" data-type="task" class='add' title="Добавить"></button>
        </div>
        <p><span class="attention">Внимание!</span> Навигация по ежедневнику осуществляется через календарь!</p>
        <div class="row list nomargin everyday">
            <div class="col-sm-6 list notFullBorder-right">
                <h4>Жёсткое планирование: </h4>
                <div>
                    {% if tasks.withTime|length > 0 %}
                        {% for task in tasks.withTime %}
                            <div class="object">
                                <div class="objectCheck">
                                    <input type="checkbox" class="objectDone" id="done{{ task.id }}"
                                            {% if task.done == 1 %} checked {% endif %}
                                           data="{{ path('checkTask', {'id': task.id}) }}">
                                    <label for="done{{ task.id }}"></label>
                                </div>
                                <div class="objectTime"><p>{{ task.time|date('H:i') }}</p></div>
                                <div class="objectContent {% if task.done == 1 %} done {% endif %}"><p>{{ task.task.content }}</p></div>
                                <div class="buttonsBlock">
                                    <button data-path="{{ path('editTask', {'id': task.id}) }}" data-type="task" class="edit" title="Редактировать"></button>
                                    {% if task.task.iteration != 'no' %}
                                        <div class="btn-group">
                                          <button title="Удалить" class="delete-dd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          </button>
                                          <ul class="dropdown-menu">
                                            <li><a href="#" class="delete-btn" data="{{ path('delTask', {'id': task.id, 'all': 0}) }}">Удалить данную задачу</a></li>
                                            <li><a href="#" class="delete-btn" data="{{ path('delTask', {'id': task.id, 'all': 1}) }}">Удалить весь цикл задач</a></li>
                                          </ul>
                                        </div>
                                    {% else %}
                                        <button data="{{ path('delTask', {'id': task.id, 'all': 1}) }}" class='delete' title="Удалить"></button>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Пока нет задач</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6 list notFullBorder-left">
                <h4>Гибкое планирование: </h4>
                <div>
                    {% if tasks.withoutTime|length > 0 %}
                        {% for task in tasks.withoutTime %}
                            <div class="object">
                                <div class="objectCheck">
                                    <input type="checkbox" class="objectDone" id="done{{ task.id }}"
                                            {% if task.done == 1 %} checked {% endif %}
                                           data="{{ path('checkTask', {'id': task.id}) }}">
                                    <label for="done{{ task.id }}"></label>
                                </div>
                                <div class="objectContent {% if task.done == 1 %} done {% endif %}"><p>{{ task.task.content }}</p></div>
                                <div class="buttonsBlock">
                                    <button data-path="{{ path('editTask', {'id': task.id}) }}" data-type="task" class="edit" title="Редактировать"></button>
                                    {% if task.task.iteration != 'no' %}
                                        <div class="btn-group">
                                          <button title="Удалить" class="delete-dd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          </button>
                                          <ul class="dropdown-menu">
                                            <li><a href="#" class="delete-btn" data="{{ path('delTask', {'id': task.id, 'all': 0}) }}">Удалить данную задачу</a></li>
                                            <li><a href="#" class="delete-btn" data="{{ path('delTask', {'id': task.id, 'all': 1}) }}">Удалить весь цикл задач</a></li>
                                          </ul>
                                        </div>
                                    {% else %}
                                        <button data="{{ path('delTask', {'id': task.id, 'all': 1}) }}" class='delete' title="Удалить"></button>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Пока нет задач</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <table class="elementProgress">
            <tr>
                <td><p>Эффективность:</p></td>
                <td>
                    <div class="progress">
                        {% if progress.allCount == 0 %}
                            {% set all = 1 %}
                        {% else %}
                            {% set all = progress.allCount %}
                        {% endif %}
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress.doneCount }}"
                             aria-valuemin="0" aria-valuemax="{{ progress.allCount }}"
                             style="width: {{ (progress.doneCount/all*100) }}%; min-width: 2em;">
                            {{ progress.doneCount }}/{{ progress.allCount }}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="reminders_today">
            {% if tasks.reminders|length > 0 %}
                <h4>Не забудьте:</h4>
                {% for rm in tasks.reminders %}
                    <div class="object">
                        <div class="objectContent"><p>{{ rm.content }}</p></div>
                        <div class="buttonsBlock">
                            <button data-path="{{ path('editReminder', {'id': rm.id}) }}" data-type="task" class="edit" title="Редактировать"></button>
                            <button data="{{ path('delReminder', {'id': rm.id}) }}" class='delete' title="Удалить"></button>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                <p>Нам нечего Вам напомнить</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/task.js') }}"></script>
{% endblock %}



