{% block content %}
    <h1>Задача:</h1>
    <p>{{ task.content }}</p>
    <div class='form'>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}


