{% extends 'layout/main.html.twig' %}

{% block metaBlock %}
    <title>Отзывы - YourTar.ru</title>
    <meta name="description" content="Отзывы о проекте YourTar.ru">
    <meta name="keywords" content="отзыв, мнение, yourtar.ru, YourTar.ru">
{% endblock %}

{% block content %}
<div>
    <h3 class="pageHeader"><img src="/img/design/otz-orange-min.png" class="headImg"> Oтзывы: </h3>
    {% if  is_granted('ROLE_USER') %}
        <div class="col-sm-6 buttonsBlock">
            <button data-path="{{ path('addFeedback') }}" data-type="feedback" class='add' title="Добавить"></button>
        </div>
    {% endif %}
    <div>
        {% if feedbacks|length > 0 %}
            {% for fb in feedbacks %}
                <div class="objectOwner left">
                    <p>{{ fb.user.username }}:</p>
                </div>
                <div class="object notHover">
                    <div class="objectContent">
                        <p>{{ fb.content }}</p>
                        <p class="date right">{{ fb.date.format('d.m.Y') }}</p>
                    </div>
                    {% if  is_granted('ROLE_USER') and fb.user == app.user %}
                    <div class="buttonsBlock">
                        <button data-path="{{ path('editFeedback', {id: fb.id}) }}" data-type="feedback"
                                class='edit' title="Редактировать"></button>
                        <button data="{{ path('delFeedback', {id: fb.id}) }}"
                                class='delete' title="Удалить"></button>
                    </div>
                    {% endif %}
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p>Отзывов ещё нет. Оставьте отзыв первым!</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



