<div class="collapse navbar-collapse" id="menu-navigation">
        {% if is_granted('ROLE_ADMIN') %}
            {{ knp_menu_render('admin', {
                'currentClass': 'active',
                'ancestorClass': 'active',
                'currentAsLink': true,
                'template': ':menu:knp_menu.html.twig',
            }) }}
        {% elseif is_granted('ROLE_CONTENT_MANAGER') %}
            {{ knp_menu_render('content', {
                'currentClass': 'active',
                'ancestorClass': 'active',
                'currentAsLink': true,
                'template': ':menu:knp_menu.html.twig',
            }) }}
        {% endif %}
</div>